{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript" src="{% static 'admincustom/js/selects.js' %}"></script>
<script type="text/javascript" src="{% static 'admincustom/js/signals.js' %}"></script>
{% endblock %}

{% block content %}

<div style="display: none" id="symbol-ids">{{ sids | safe }}</div>

{{ block.super }}

{% endblock %}