{% extends 'bootstrap/base.html' %}
{% load static %}

{% block content %}
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div id="list_events" class="list-group list-group-flush">
        {%for item_event in events %}
            <a href="{% url 'events:event-detail' pk=item_event.pk%}" class="list-group-item list-group-item-action bg-light" style="{% if active_event == item_event %}background-color: #dae0e5!important;{% endif %}">{{item_event}}</a>
        {% endfor %}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="container">
        {% if user.is_authenticated %}
            <div class="btn-group" role="group">
                <a href="{%url 'events:home' %}?filter={{filter_events.0}}" class="btn btn-{% if active_filter == filter_events.0 %}primary{%else%}light{%endif%}">Все</a>
                {% if has_active_events_owner %}
                    <a href="{%url 'events:home' %}?filter={{filter_events.1}}" class="btn btn-{% if active_filter == filter_events.1 %}primary{%else%}light{%endif%}">Мои как владельца</a>
                {% endif %}
                {% if has_active_events_participant %}
                    <a href="{%url 'events:home' %}?filter={{filter_events.2}}" class="btn btn-{% if active_filter == filter_events.2 %}primary{%else%}light{%endif%}">Где я участвую</a>
                {% endif %}
            </div>
            <br>
        {% endif %}
        <br>
        {% block content_page %}
        {% endblock %}
    </div>
{% endblock %}