{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}


{% block content_page %}
    <h2>
    {% if object.pk %}
        Редактирование курса
    {% else %}
        Создание нового курса
    {% endif %}
    </h2>
    <form  action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {% if object.pk %}
            <a href="{% url 'events:remove-lesson' pk=object.pk%}" class="btn btn-secondary">Удалить</a>
        {% endif %}
    </form>
{% endblock %}
