{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_page %}
    <a href="{% url 'events:create' %}" class="btn btn-primary">Создать курс</a>
    <h2>{{event}}</h2>    
    {% if lesson %}
        {{lesson}}
    {% endif %}
{% endblock %}
