{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_page %}
    <h2>{{active_event}}</h2>
    <br>
    <div id="events">
            <table>
                <tbody>
                    {%for item in structure_units_lessons %}
                        <tr>
                            <td><a href="{% url 'events:detail-unit' event=active_event.pk pk=item.unit.pk %}">{{item.unit}}</a></td>
                            {% include 'partials/actions_table_row.html' with prefix_update=active_event.pk|slugify|add:'/units' prefix_remove='units' pk=item.unit.pk %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {% if active_event.owner == user %}
        <div style="margin-top:15px;">
            <a href="{% url 'events:create-unit' event=active_event.pk %}" class="btn btn-primary">Создать блок</a>
            <button type="button" class="btn btn-primary" onclick="everyoneInvolved()">Участвуют все</button>
        </div>
    {% endif %}
{% endblock %}

{% block jscustom %}
<script src="{% static 'admin/js/csrf.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    function everyoneInvolved(element){
        $.post("{% url 'events:add_all_user_to_event' event=active_event.pk %}", function(){
            swal.fire({
                "title": "",
                "text": "Успешно!",
                "type": "success",
                "confirmButtonClass": "btn btn-secondary"
            })
        })
        .fail(function(data){
            console.log(data);
            Swal.fire({
              icon: 'error',
              title: 'Произошла ошибка!',
              text: data.statusText,
              type: "error",
            })
        });
    }
</script>
{% endblock %}