{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_page %}
    <div class="modal-header">
        <a href="{% url 'events:create-lesson' %}" class="btn btn-primary"> Новый урок</a>
    </div>
    {%for lesson in lessons %}
        <a href="{% url 'events:update-lesson' pk=lesson.pk %}">{{lesson}}</a>
        <br>
    {% endfor %}
{% endblock %}
