{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_page %}
    <form  action="" method="post">
        {% csrf_token %}
            {% block content_confirm %}{% endblock %}
            <div>
                <button type="submit" class="btn btn-primary">Удалить</button>
            </div>
    </form>
{% endblock %}