{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_page %}
    <div class="modal-header">

    </div>
    <table>
        <tbody>
            {%for unit in units %}
                <tr>
                    <td>{{unit}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
