{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_page %}
    <div class="modal-header">
    </div>
    <p>Уроки</p>
    <table>
        <tbody>
            {%for lesson in lessons %}
                        <tr>
                            <td><a href="{% url 'events:detail-lesson' event=active_event_pk unit=active_unit_pk pk=lesson.pk %}">{{lesson}}</a></td>
                            {% with prefix_update=active_unit_pk|slugify|add:'/lessons' prefix_remove='/events'|add:'/lessons' %}
                                {% include 'partials/actions_table_row.html' with prefix_update=prefix_update prefix_remove=prefix_remove pk=lesson.pk %}
                            {% endwith %}
                        </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if active_event.owner == user %}
        <a href="{% url 'events:create-lesson' event=active_event.pk unit=active_unit_pk %}" class="btn btn-primary">Создать урок</a>
    {% endif %}
    <p>Вебинары</p>
    <table>
        <tbody>
            {%for webinar in webinars %}
                        <tr>
                            <td><a href="{% url 'events:detail-webinar' event=active_event_pk unit=active_unit_pk pk=webinar.pk %}">{{webinar}}</a></td>
                            {% with prefix_update=active_unit_pk|slugify|add:'/webinars' prefix_remove='/events'|add:'/webinars' %}
                                {% include 'partials/actions_table_row.html' with prefix_update=prefix_update prefix_remove=prefix_remove pk=webinar.pk %}
                            {% endwith %}
                        </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if active_event.owner == user %}
        <a href="{% url 'events:create-webinar' event=active_event.pk unit=active_unit_pk %}" class="btn btn-primary">Создать вебинар</a>
    {% endif %}
{% endblock %}
