{% extends 'events/base_events.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %}{% endblock %}

{% block content_page %}
    <h2>
    {% if object.pk %}
        Редактирование вебинара
    {% else %}
        Создание нового вебинара
    {% endif %}
    </h2>
    <form  action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        {% if object.video_code %}
                {% video object.video_code '800x600' %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {% if object.pk %}
            <a href="{% url 'events:remove-webinar' pk=object.pk%}" class="btn btn-secondary">Удалить</a>
        {% endif %}
    </form>
        <div id="wriper_whiteboard">
            <div id="whiteboard"></div>
            <div class="whiteboard_tools">
                <button onclick="designerClearCanvas()">Очистить</button>
            </div>
        </div>
        <div id="wriperr_pdf">
            <h1>PDF.js Previous/Next example</h1>

            <div>
              <button id="prev">Previous</button>
              <button id="next">Next</button>
              &nbsp; &nbsp;
              <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
            </div>

            <canvas id="the-canvas"></canvas>
        </div>
{% endblock %}

{% block jsfirebase %}
    {% include 'partials/init_firebase_app.html' %}
    <script type="text/javascript">
        var firebase_db = firebase_app.database();

        function writeWhiteBoardData(data) {
          firebase.database().ref('whiteboard_data/{{object.pk}}').push(data);
        }    

        var whiteBoardRef = firebase.database().ref('whiteboard_data/{{object.pk}}')
        whiteBoardRef.on('child_added', function(data) {
            designer.syncData(JSON.parse(data.val()));
        });
        whiteBoardRef.on('child_changed', function(data) {
            designer.syncData(JSON.parse(data.val()));
        });

        function writeWebinarPDFData(data) {
            console.log(data);
            if(data.curent_page){
                firebase.database().ref('webinar_pdf/{{object.pk}}').push(data);
            }
        } 
        var webinarPDFRef = firebase.database().ref('webinar_pdf/{{object.pk}}')
        webinarPDFRef.on('child_added', function(data) {
            _data = data.val();
            console.log('child_added', _data);            
            if(_data.curent_page){
                renderPage(_data.curent_page);
            }
        });
        webinarPDFRef.on('child_changed', function(data) {
            _data = data.val();
            console.log('child_changed', _data);            
            if(_data.curent_page){
                renderPage(_data.curent_page);
            }
        });

    </script>

{% endblock %}

{% block jsplugins %}
    <script src="{% static 'admin/js/canvas-designer-widget.js' %}" type="text/javascript"></script>
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    
{% endblock %}

{% block jscustom %}
    <script type="text/javascript">
        const clear_data = {"points":[],"startIndex":0}
        var designer = new CanvasDesigner();

        designer.widgetHtmlURL = 'https://www.webrtc-experiment.com/Canvas-Designer/widget.html'; // you can place this file anywhere
        designer.widgetJsURL = 'https://www.webrtc-experiment.com/Canvas-Designer/widget.js';

        designer.setTools({
            pencil: true,
            text: true,
            image: true,
            pdf: true,
            eraser: true,
            line: true,
            arrow: true,
            dragSingle: true,
            dragMultiple: true,
            arc: true,
            rectangle: true,
            quadratic: true,
            bezier: true,
            marker: true,
            zoom: true,
            lineWidth: true,
            colorsPicker: true,
            extraOptions: true,
            code: true,
            undo: true
        });

        designer.addSyncListener(function(data) {
            writeWhiteBoardData(JSON.stringify(data));
        });
        designer.appendTo(document.getElementById('whiteboard'));

        function designerClearCanvas(){
            designer.clearCanvas();
            firebase.database().ref('whiteboard_data/{{object.pk}}').remove();
            firebase.database().ref('whiteboard_data/{{object.pk}}').push(JSON.stringify(clear_data));
            
        }
    </script>
    <script type="text/javascript">
        var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf';

        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

        var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            scale = 0.8,
            canvas = document.getElementById('the-canvas'),
            ctx = canvas.getContext('2d');

        /**
         * Get page info from document, resize canvas accordingly, and render page.
         * @param num Page number.
         */
        function renderPage(num) {
          pageRendering = true;
          // Using promise to fetch the page
          pdfDoc.getPage(num).then(function(page) {
            var viewport = page.getViewport({scale: scale});
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
              canvasContext: ctx,
              viewport: viewport
            };
            var renderTask = page.render(renderContext);

            // Wait for rendering to finish
            renderTask.promise.then(function() {
              pageRendering = false;
              if (pageNumPending !== null) {
                // New page rendering is pending
                renderPage(pageNumPending);
                pageNumPending = null;
              }
            });
          });

          // Update page counters
          document.getElementById('page_num').textContent = num;
        }

        /**
         * If another page rendering in progress, waits until the rendering is
         * finised. Otherwise, executes rendering immediately.
         */
        function queueRenderPage(num) {
          if (pageRendering) {
            pageNumPending = num;
          } else {
            console.log('queueRenderPage', num);
            renderPage(num);
          }
        }

        /**
         * Displays previous page.
         */
        function onPrevPage() {
          if (pageNum <= 1) {
            return;
          }
          pageNum--;
          writeWebinarPDFData({"curent_page":+pageNum});
          queueRenderPage(pageNum);
        }
        document.getElementById('prev').addEventListener('click', onPrevPage);

        /**
         * Displays next page.
         */
        function onNextPage() {
          if (pageNum >= pdfDoc.numPages) {
            return;
          }
          pageNum++;
          writeWebinarPDFData({"curent_page":+pageNum});
          queueRenderPage(pageNum);
        }
        document.getElementById('next').addEventListener('click', onNextPage);

        /**
         * Asynchronously downloads PDF.
         */
        pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
          pdfDoc = pdfDoc_;
          document.getElementById('page_count').textContent = pdfDoc.numPages;

          // Initial/first page rendering
          console.log('pdfjsLib.getDocument(url).promise', 1);
          renderPage(1);
        });
    </script>

{% endblock %}