{% extends 'events/base_events.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content_page %}
    <div class="modal-header">
        <a href="{% url 'events:create-webinar' %}" class="btn btn-primary"> Новый вебинар</a>
    </div>
    {%for webinar in webinars %}
        <a href="{% url 'events:update-webinar' pk=webinar.pk %}">{{webinar}}</a>
        <br>
    {% endfor %}
{% endblock %}
