
<meta charset="utf-8">
<body style="background: #f1f6fa;">
	
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
	<tr>
		<td style="padding: 0; padding-top: 24px; padding-bottom: 24px;">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td style="padding-left: 10px; padding-right: 20px;"><img src="https://ztrade.ru/images/logofooter.png" alt=""></td>
          <td style="padding: 0 10px 0 0; font-family: Arial;" align="right">
            <table cellpadding="0" cellspacing="0" border="0" style="margin: 0;">
							<tr>
								<td height="36" style="border: 1px solid #488dc6; font-size: 13px; line-height: 36px; padding: 0 24px;">
									<a href="https://ztrade.ru/site/login" style="color: #488dc6; text-decoration: none; display: block;">Войти</a>
								</td>
							</tr>
						</table>
          </td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
    <td style="padding: 0 0 30px;">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="padding: 30px; border: 1px solid #e4e8ec;" bgcolor="#ffffff">
            <p style="font-family: Arial; margin: 0 0 30px; text-align: center; font-size: 25px;"><b>Изменение e-mail</b></p>
            <p style="text-align: center; margin: 0 0 30px;"><img src="https://ztrade.ru/images/pics/email-password.png" alt="" style="border: 0;" border="0"></p>
            <p style="font-family: Arial; margin: 0 0 20px; font-size: 15px;">Уважаемый (ая), <b>{{user.first_name}}</b>.</p>
            <p style="font-family: Arial; margin: 0 0 20px; font-size: 15px;">Ваш код подтверждения для изменения <b>e-mail</b>:
              <b style="color: #e4827a;">{{ email_code }}</b>.<br>
              Чтобы изменить e-mail адрес, введите данный код на сайте в соответствующее поле формы в вашем личном кабинете.</p>
          </td>
        </tr>
      </table>
		</td>
  </tr>
  
  <tr>
    <td style="padding: 0 0 30px;">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td style="padding: 30px; border: 1px solid #e4e8ec;" bgcolor="#ffffff">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td style="padding: 0; font-family: Arial; font-size: 12px;" width="50%" valign="top">
                  <p style="margin: 0 0 20px;">С уважением, Ztrade<br>
                    First Floor, First Saint Vincent Bank Ltd.<br>
                    Building, James Street, Kingstown<br>
                    Saint Vincent & the Grenadines</p>
                  <p style="margin: 0 0 20px;">E-mail: <a href="mailto:support@ztrade.ru" style="color: #488dc6; text-decoration: none;">support@ztrade.ru</a><br>
                    Website: <a href="https://ztrade.ru" style="color: #488dc6; text-decoration: none;">www.ztrade.ru</a></p>
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td style="padding: 0 5px 0 0;"><a href="#"><img src="https://ztrade.ru/images/pics/fb.png" alt=""></a></td>
                      <td style="padding: 0 5px 0 0;"><a href="#"><img src="https://ztrade.ru/images/pics/in.png" alt=""></a></td>
                      <td style="padding: 0 5px 0 0;"><a href="#"><img src="https://ztrade.ru/images/pics/yt.png" alt=""></a></td>
                      <td style="padding: 0;"><a href="https://t.me/ztrade"><img src="https://ztrade.ru/images/pics/tme.png" alt=""></a></td>
                    </tr>
                  </table>
                </td>
                <td style="padding: 0; font-family: Arial; font-size: 12px;" width="50%" align="right" valign="top">
                  <p style="margin: 0 0 20px;"><a href="#" style="color: #488dc6; text-decoration: none;">Связаться с поддержкой через Form Feedback</a></p>
                  <p style="margin: 0 0 20px;">Вы получили это письмо, так как являетесь
                    клиентом ZTrade - международным сервисом.</p>
                  <p style="margin: 0;"><a href="#" style="color: #488dc6; text-decoration: none;">Отписаться</a></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
		</td>
	</tr>
</table>


</body>
Проверочный код для установки нового e-mail в личном кабинете:
