Email с информацией о подписке.<br />

{{ su.user.first_name }}<br />
{{ su.user.last_name }}<br />
{{ su.subscription.name }}<br />
{{ su.date_from|date:"d.m.Y" }}<br />
{{ su.date_to|date:"d.m.Y" }}<br />
{{ su.subscription.frontend_link_videos }}<br />
{{ su.subscription.all_files_html|safe }}<br />
