Добавлен новый отзыв для бирж криптовалют:<br /><br />

тип: {{ obj.type }}<br />
брокер: {{ obj.broker.name }}<br />
пользователь: {{ obj.user.first_name }} {{ obj.user.last_name }}<br /><br />

{{ obj.text }}



