Добавлен новый пункт для брокера:<br /><br />

тип: {{ obj.type }}<br /><br />
брокер: {{ obj.broker.name }}<br /><br />
пользователь: {{ obj.user.first_name }} {{ obj.user.last_name }}

{{ obj.text }}



