<meta charset="utf-8">
<body style="background: #f1f6fa;">

  <table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
      <tr>
          <td style="padding: 0; padding-top: 24px; padding-bottom: 24px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                      <td style="padding-left: 10px; padding-right: 20px;"><img src="https://ztrade.ru/images/logofooter.png" alt=""></td>
            <td style="padding: 0 10px 0 0; font-family: Arial;" align="right">
              <table cellpadding="0" cellspacing="0" border="0" style="margin: 0;">
                              <tr>
                                  <td height="36" style="border: 1px solid #488dc6; font-size: 13px; line-height: 36px; padding: 0 24px;">
                                      <a href="https://ztrade.ru/site/login" style="color: #488dc6; text-decoration: none; display: block;">Войти</a>
                                  </td>
                              </tr>
                          </table>
            </td>
                  </tr>
              </table>
          </td>
      </tr>

      <tr>
      <td style="padding: 0 0 30px;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td style="padding: 30px; border: 1px solid #e4e8ec;" bgcolor="#ffffff">
              <p style="font-family: Arial; margin: 0 0 30px; text-align: center; font-size: 25px;"><b>Магазин</b></p>
              <p style="text-align: center; margin: 0 0 30px;"><img src="https://ztrade.ru/images/pics/email-shop.png" alt="" style="border: 0;" border="0"></p>
              <p style="font-family: Arial; margin: 0 0 20px; font-size: 15px;">Уважаемый (ая), <b>{{pu.user.first_name}}</b>.</p>
              <p style="font-family: Arial; margin: 0 0 30px; font-size: 15px;">Благодарим Вас за приобретение программы, ниже Вы найдете
                детальную информацию по Вашему заказу, а также описание - инструкцию и ссылку на скачивание товара.</p>

                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td style="border: 1px solid #d7e7f4; padding: 30px;">
                      <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                          <td width="50%" valign="top" style="padding: 0;">
                            <p style="color: #a6acb3; font-size: 13px; margin: 0 0 5px; font-family: Arial;">Название программы:</p>
                            <p style="font-size: 13px; margin: 0 0 20px; font-family: Arial;"><b>{{ pu.product.name }}</b></p>
                            <p style="color: #a6acb3; font-size: 13px; margin: 0 0 5px; font-family: Arial;">Сумма заказа:</p>
                            <p style="font-size: 13px; margin: 0 0 25px; font-family: Arial;"><b>{{bill.amount}} {{bil.currency}}</b></p>
                          </td>
                          <td width="50%" valign="top" align="right" style="padding: 0;">
                            <p style="color: #a6acb3; font-size: 13px; margin: 0 0 5px; font-family: Arial;">Номер заказа:</p>
                            <p style="font-size: 13px; margin: 0 0 20px; font-family: Arial;"><b>Счёт№ {{bill.id}}</b></p>
                            <p style="color: #a6acb3; font-size: 13px; margin: 0 0 5px; font-family: Arial;">Дата заказа:</p>
                            <p style="font-size: 13px; margin: 0 0 25px; font-family: Arial;"><b>{{ bill.created_at|date:"d.m.Y" }}</b></p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="auto">
                              <tr>
                                <td>
                                  <table cellpadding="0" cellspacing="0" border="0" style="margin: 0 10px 0 0;">
                                    <tr>
                                      <td height="38" bgcolor="#488dc6" style="font-family: Arial; background: #488dc6; font-size: 13px; line-height: 38px; padding: 0;">
                                        <a href="{{pu.product.file.url}}" style="color: #fff; text-decoration: none; display: block; padding: 0 24px;">Скачать</a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <table cellpadding="0" cellspacing="0" border="0" style="margin: 0;">
                                    <tr>
                                      <td height="36" style="font-family: Arial; border: 1px solid #488dc6; font-size: 13px; line-height: 36px; padding: 0;">
                                        <a href="{{pu.download_file.file_url}}" style="color: #488dc6; text-decoration: none; display: block; padding: 0 24px;">Инструкция</a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            </td>
          </tr>
        </table>
          </td>
    </tr>

    <tr>
      <td style="padding: 0 0 30px;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td style="padding: 30px; border: 1px solid #e4e8ec;" bgcolor="#ffffff">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td style="padding: 0; font-family: Arial; font-size: 12px;" width="50%" valign="top">
                    <p style="margin: 0 0 20px;">С уважением, Ztrade<br>
                      First Floor, First Saint Vincent Bank Ltd.<br>
                      Building, James Street, Kingstown<br>
                      Saint Vincent & the Grenadines</p>
                    <p style="margin: 0 0 20px;">E-mail: <a href="mailto:support@ztrade.ru" style="color: #488dc6; text-decoration: none;">support@ztrade.ru</a><br>
                      Website: <a href="https://ztrade.ru" style="color: #488dc6; text-decoration: none;">www.ztrade.ru</a></p>
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td style="padding: 0 5px 0 0;"><a href="#"><img src="https://ztrade.ru/images/pics/fb.png" alt=""></a></td>
                        <td style="padding: 0 5px 0 0;"><a href="#"><img src="https://ztrade.ru/images/pics/in.png" alt=""></a></td>
                        <td style="padding: 0 5px 0 0;"><a href="#"><img src="https://ztrade.ru/images/pics/yt.png" alt=""></a></td>
                        <td style="padding: 0;"><a href="https://t.me/ztrade"><img src="https://ztrade.ru/images/pics/tme.png" alt=""></a></td>
                      </tr>
                    </table>
                  </td>
                  <td style="padding: 0; font-family: Arial; font-size: 12px;" width="50%" align="right" valign="top">
                    <p style="margin: 0 0 20px;"><a href="#" style="color: #488dc6; text-decoration: none;">Связаться с поддержкой через Form Feedback</a></p>
                    <p style="margin: 0 0 20px;">Вы получили это письмо, так как являетесь
                      клиентом ZTrade - международным сервисом.</p>
                    <p style="margin: 0;"><a href="#" style="color: #488dc6; text-decoration: none;">Отписаться</a></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
          </td>
      </tr>
  </table>
</body>

