@import 'mixins';
@import 'sprites';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=cyrillic');


/* === Reset === */
html, body {height: 100%; margin: 0;}
body {
	background: #f1f6fa;
	color: #325862;
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 19px;
}
img {border: 0; max-width: 100%;}
p {margin: 18px 0;}
ul, ol {padding: 0; margin: 0;}
li {list-style: none;}
b, strong {font-weight: 700;}
a {color: $bl;}
a, input, textarea {outline: none;}
th {font-weight: normal; text-align: left;}
fieldset {padding: 0; border: 0; margin: 0;}
blockquote {margin: 0; padding: 0;}
textarea {resize: none; overflow: auto;}
input::-moz-focus-inner {border: 0; padding: 0;}
a:hover {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
.clear {clear: both; display: block;}
.inline {display: inline-block;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.hidden-lg {display: none;}
.visible-xs {display: none;}
.visible-tb {display: none;}
.middle {padding-top: 30px;}
h1, .header1 {color: #000; font-size: 25px; font-weight: 400; line-height: 28px; margin: 0 0 26px;}
.orange {color: #f4b212;}
.green {color: #7fc930;}
.red {color: #dc4c4c;}
.border_block {
	border: 1px solid #d7e7f4; @include br(4px); padding: 10px 16px; 
	margin: 0 0 30px; font-size: 13px; line-height: 18px;
}


/* === Responsive grid === */
.container {margin: 0 auto; width: 1140px;}
.clearfix, .row, .container { @include clr; }
.row {margin-left: -15px; margin-right: -15px;}
[class*='grid'] {float: left; @include bx; padding-left: 15px; padding-right: 15px; min-height: 1px;}
.grid1 {width: 8.33333333%;}
.grid2 {width: 16.6666666%;}
.grid20 {width: 20%;}
.grid3 {width: 25%;}
.grid4 {width: 33.3333333%;}
.grid40 {width: 40%;}
.grid5 {width: 41.6666666%;}
.grid6 {width: 50%;}
.grid60 {width: 60%;}
.grid7 {width: 58.3333333%;}
.grid8 {width: 66.6666666%;}
.grid9 {width: 75%;}
.pull-right {float: right;}
.rowsm {margin-left: -5px; margin-right: -5px;}
.rowsm [class*='grid'] {padding-left: 5px; padding-right: 5px;}
.mobile_block {display: none;}


/* === FORMS === */
.styler {
	background: #fafcfd; 
	border: 1px solid #d7e7f4; 
	height: 44px; 
	@include br(3px); 
	@include bx;
	@include shad(inset 0 1px 2px rgba(0,0,0,0.1)); 
	padding: 8px 15px; 
	position: relative;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
	color: #000; 
	font-size: 14px; 
	font-family: 'Open Sans', sans-serif; 
	line-height: 24px;
	&.datepicker {background: #fafcfd url(../images/date.png) right center no-repeat;}
	&.error {border: 1px solid #ff0000;}
	&:disabled {background: #f1f6fa; color: #a6acb3;}
}
.inpf {margin: 0 0 15px;}
.error_text {color: #ff0000; font-size: 12px; line-height: 14px; margin: 6px 0 0; text-align: left;}



/* === Button === */
.btn {
	background: 0;
	border: 1px solid $bl;
	color: $bl;
	cursor: pointer; 
	-webkit-appearance: none; 
	display: inline-block; 
	text-decoration: none; 
	text-align: center;
	@include br(3px);
	@include bx;
	@include anim(200ms);
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	padding: 8px 20px 10px;
	&:hover {background: $bl; color: #fff;}
	&:active {background: #407fb5;}
	small {color: #b1cde5; display: block; font-size: 10px; line-height: 12px; margin-top: 4px;}
	&-blue {
		background: $bl; color: #fff;
		&:hover {background: #276396; border-color: #276396;}
	}
	&-filter {
		background: $bl; color: #fff;
		&:hover {background: #407fb5;}
		padding-left: 5px; padding-right: 5px;
		span {position: relative; padding-left: 26px;}
		span:before {@include bf; left: 0; top: 2px; @include retina-sprite($filter-group);}
	}
	&-green {
		background: #7fc930; border-color: #7fc930; color: #fff;
		&:hover {background: #5fa119; border-color: #5fa119;}
	}
	&-red {
		background: #dc4c4c; border-color: #dc4c4c; color: #fff;
		&:hover {background: #b83d3d; border-color: #b83d3d;}
	}
	&-orange {
		background: $orange; border-color: $orange; color: #fff;
		&:hover {background: #dfa006; border-color: #dfa006;}
	}
	&-orange2 {
		background: $orange; border-color: $orange; color: #fff;
		&:hover {background: 0; color: #dfa006;}
	}
	&-big {padding: 13px 24px 15px;}
	&-more {
		b {font-weight: 400; position: relative; padding-right: 20px; display: inline-block;}
		b:before {@include bf; right: 0; top: 50%; margin-top: -4px; @include retina-sprite($rr-group);}
		&:hover b:before {@include retina-sprite($rrw-group);}
	}
	&-more-blue {
		background: $bl; color: #fff;
		b {font-weight: 400; position: relative; padding-right: 20px; display: inline-block;}
		b:before {@include bf; right: 0; top: 50%; margin-top: -4px; @include retina-sprite($rrw-group);}
		&:hover {background: 0; color: $bl;}
		&:hover b:before {@include retina-sprite($rr-group);}
	}
	&-back {background: #f1f6fa; color: $bl;}
	&-disabled {background: #f1f6fa !important; color: #a6acb3 !important; cursor: default;}
}
input.btn, button.btn {padding: 0 20px; line-height: 28px; height: 34px;}
input.btn-big, button.btn-big {padding-top: 0; padding-bottom: 0; line-height: 38px; height: 44px;}

.btn-learn {
	background-color: #f1f6fa; color: $bl; border: 0; font-size: 14px;
	span {position: relative; padding-left: 26px;}
	span:before {@include bf; left: 0; top: 1px;}
}
.btn-blank {
	span:before {@include retina-sprite($learnic-group);}
	&:hover span:before {@include retina-sprite($learnic_hov-group);}
}
.btn-download {
	span:before {@include retina-sprite($learnicd-group); top: 0;}
	&:hover span:before {@include retina-sprite($learnicd_hov-group);}
}

/* show_signalrow */
.show_signalrow {
	display: none; background-color: #fff; @include br(4px); height: 40px; margin: 0 0 24px; position: relative;
	&:before {@include bf; @include retina-sprite($more-group); left: 50%; top: 0; margin-left: -20px;}
}



/* === Checkbox / Radio === */
.jq-checkbox, input.checks {
	border: 1px solid #d7e7f4; height: 19px; width: 19px; position: relative; margin: 0; padding: 0;
	@include br(3px); @include shad(inset 0 1px 2px rgba(0,0,0,0.1)); cursor: pointer;
	-webkit-appearance: none; appearance: none;
	&__div {@include retina-sprite($checkbox-group); display: none; margin: 6px 0 0 4px;}
	&.checked .jq-checkbox__div {display: block;}
}
.jq-radio {
	@include br(50%); border: 1px solid #ccc; width: 12px; height: 12px; cursor: pointer;
	&__div {@include br(50%); width: 8px; height: 8px; background: #ccc; display: none; margin: 2px;}
	&.checked .jq-radio__div {display: block;}
}
input.checks {
	background: #fafcfd url(../images/checkbox.png) -9999px -9999px no-repeat;
	&:checked {background-position: center center;}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	input.checks {background: #fafcfd url(../images/checkbox-2x.png) -9999px -9999px no-repeat;
		background-size: 19px 19px;}
}

.checkf {
	position: relative; padding-left: 30px; cursor: pointer; display: block; font-size: 13px; 
	line-height: 16px; color: #353535; text-align: left;
	.jq-checkbox, .jq-radio, input.checks {left: 0; top: -2px; position: absolute !important;}
}


/* === Select === */
.jq-selectbox {
	text-align: left; position: relative;
	&__select {
		background: #fafcfd; border: 1px solid #d7e7f4; @include br(3px); @include bx; padding: 0 40px 0 15px;
		@include shad(inset 0 1px 2px rgba(0,0,0,0.1)); color: #a6acb3; font-size: 14px; cursor: pointer;
		font-family: 'Open Sans', sans-serif; line-height: 40px; position: relative;
		&-text {display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	}
	&.changed .jq-selectbox__select {color: #000;}
	&__trigger {@include retina-sprite($select-group); position: absolute; right: 14px; top: 17px;}
	&__dropdown {
		background: #fafcfd; border: 1px solid #d7e7f4; padding: 3px 0; width: 100%; @include br(3px); @include bx;
		position: absolute; left: 0; z-index: 999;
		ul li {cursor: pointer; border: 0 !important; font-size: 14px; line-height: 16px; padding: 8px 15px; color: $bl;}
		ul li:hover {background: $bl; color: #fff;}
		ul li.lang {padding-left: 38px; position: relative;}
	}
}


/* === New Select === */
select.selectbox {
	background: #fafcfd url(../images/select.png) right center no-repeat; 
	border: 1px solid #d7e7f4; @include br(3px); @include bx; padding: 0 40px 0 15px;
	@include shad(inset 0 1px 2px rgba(0,0,0,0.1)); color: #a6acb3; font-size: 14px; cursor: pointer;
	font-family: 'Open Sans', sans-serif; line-height: 40px; height: 42px; position: relative;
	outline: none; width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
}


.jq-selectbox.lang .jq-selectbox__select {padding-left: 38px;}
.jq-selectbox.lang .jq-selectbox__select:before {@include bf; left: 15px; top: 50%; margin-top: -5px; width: 16px; height: 11px;}
.jq-selectbox__dropdown ul li.lang:before {@include bf; left: 15px; top: 50%; margin-top: -5px; width: 16px; height: 11px;}
.jq-selectbox__dropdown ul li.aud:before,
.jq-selectbox.aud .jq-selectbox__select:before {background: url(../images/flags/aud.png) no-repeat;}
.jq-selectbox__dropdown ul li.cny:before,
.jq-selectbox.cny .jq-selectbox__select:before {background: url(../images/flags/cny.png) no-repeat;}
.jq-selectbox__dropdown ul li.sgd:before,
.jq-selectbox.sgd .jq-selectbox__select:before {background: url(../images/flags/sgd.png) no-repeat;}
.jq-selectbox__dropdown ul li.rus:before,
.jq-selectbox.rus .jq-selectbox__select:before {background: url(../images/flags/rus.png) no-repeat;}

.filter_link {
	border: 1px solid #d7e7f4; @include br(3px); @include bx; padding: 0 40px 0 15px;
	color: $bl; font-size: 14px; cursor: pointer;
	font-family: 'Open Sans', sans-serif; line-height: 40px; position: relative; text-decoration: none;
	&:before {@include bf; @include retina-sprite($select-group); position: absolute; right: 14px; top: 17px;}
}



/* === Datepicker === */
.ui-datepicker {@include bx; @include br(3px); background: #fff; padding: 5px; @include shad(0 2px 4px rgba(0,0,0,0.4));
	position: absolute !important; display: none; z-index: 1200 !important;}
.ui-datepicker-calendar {border-collapse: collapse; width: 100%;}
.ui-datepicker-calendar th {font-weight: normal; font-size: 12px;}
.ui-datepicker-calendar td {border: 1px solid #f1f1f1; width: 24px; height: 20px; font-size: 12px; line-height: 20px; text-align: center; padding: 0;}
.ui-datepicker-calendar td a {color: #8d8d8d; display: block; text-decoration: none;}
.ui-datepicker-today a {background: #333; color: #fff;}
.ui-datepicker-header {text-align: center; position: relative; margin: 0 0 5px; font-size: 12px;}
.ui-datepicker-next, .ui-datepicker-prev {position: absolute; top: 0;}
.ui-datepicker-prev {left: 0; color: #8d8d8d; cursor: pointer;}
.ui-datepicker-next {right: 0; color: #8d8d8d; cursor: pointer;}


/* Search */
.search {
	background: #fafcfd; border: 1px solid #d7e7f4; height: 42px; @include br(3px); @include bx;
	@include shad(inset 0 1px 2px rgba(0,0,0,0.1)); padding: 5px 40px 0 15px; position: relative;
	&_inp {
		background: 0; border: 0; outline: none; height: 30px; padding: 5px 0; margin: 0; width: 100%;
		color: #000; font-size: 14px; font-family: 'Open Sans', sans-serif; line-height: 20px; @include bx;
	}
	&_but {
		background: 0; @include retina-sprite($search-group); border: 0; position: absolute; cursor: pointer;
		text-indent: -9999px; top: 12px; right: 13px; padding: 0; margin: 0;
		&:hover {@include retina-sprite($search_gr-group);}
	}
}


/* Brick */
.brick {
	@include clr;
	&_content {padding-right: 350px;}
	&_box {float: left; width: 100%;}
	.aside {float: right; margin: 0; width: 320px;}
}



/* Sidebar / Module's */
.module {
	background: #fff; margin-bottom: 30px; @include shad(0 1px 4px rgba(0,0,0,0.09)); @include clr;
	&_title {
		font-size: 25px; line-height: 26px; padding: 17px 25px 20px; color: #000; text-align: left;
		b {font-weight: 600;}
		small {font-weight: 400;}
	}
	&_title2 {
		font-size: 19px; line-height: 20px; padding: 17px 25px 20px; color: #000; text-align: left;
		border-bottom: 1px solid #d7e7f4;
		b {font-weight: 600;}
		small {font-weight: 400;}
	}
	.module_title2_noborder {border: 0; @include clr; padding-bottom: 0;}
	&_content {padding: 20px 25px; @include clr;}
	&_content2 {border-bottom: 1px solid #d7e7f4; padding: 25px;}
	&_menu {
		li {border-top: 1px solid #d7e7f4; font-size: 15px; line-height: 18px; position: relative;}
		li a {
			color: #325862; text-decoration: none; display: block; padding: 16px 50px 16px 25px; @include anim(200ms);
			&:before {@include bf; right: 25px; @include retina-sprite($nav-arrow-group); top: 50%; margin-top: -8px;}
		}
		li a:hover {
			background-color: #fafcfd; color: #498dc6;
			&::before {@include retina-sprite($nav-arrow_hover-group);}
		}
	}
}
.module_search .module_content {padding-top: 0;}
.module_recomend {
	.module_title {border-bottom: 1px solid #d7e7f4;}
	.module_content {padding: 25px; text-align: center;}
	img {margin: 0 10px 20px; display: inline-block; vertical-align: middle;}
}
.module_nav {display: none;}


/* Social's */
.socialbox {@include clr; margin: 0 0 30px;}
.socialbox span {color: #000; font-size: 15px; line-height: 16px; margin: 0 0 10px; display: block;}
.social_but {
	display: inline-block; width: 40px; height: 40px; border: 2px solid #498dc6; @include br(50%);
	position: relative; background-color: #fff; float: left; margin: 0 12px 12px 0; @include anim(100ms);
	&:last-child {margin: 0;}
	&:before {@include bf; left: 50%; top: 50%;}
}
.social_te {
	border-color: #29a0da;
	&:before {@include retina-sprite($telegram-group); margin: -7px 0 0 -8px;}
	&:hover {background-color: #29a0da; &:before {@include retina-sprite($telegram_hov-group);} }
}
.social_vk {
	border-color: #4c75a3;
	&:before {@include retina-sprite($vk-group); margin: -6px 0 0 -11px;}
	&:hover {background-color: #4c75a3; &:before {@include retina-sprite($vk_hov-group);} }
}
.social_ok {
	border-color: #d4711a;
	&:before {@include retina-sprite($ok-group); margin: -10px 0 0 -6px;}
	&:hover {background-color: #d4711a; &:before {@include retina-sprite($ok_hov-group);} }
}
.social_fb {
	border-color: #3765a3;
	&:before {@include retina-sprite($facebook-group); margin: -8px 0 0 -4px;}
	&:hover {background-color: #3765a3; &:before {@include retina-sprite($facebook_hov-group);} }
}
.social_add {
	border-color: #498dc6;
	&:before {@include retina-sprite($plus-group); margin: -8px 0 0 -8px;}
	&:hover {background-color: #498dc6; &:before {@include retina-sprite($plus_hov-group);} }
}
.social_gl {
	border-color: #db3a2d;
	&:before {@include retina-sprite($google-group); margin: -8px 0 0 -8px;}
	&:hover {background-color: #e8533d; &:before {@include retina-sprite($google_hov-group);} }
}
.social_tw {
	border-color: #5ea9dd;
	&:before {@include retina-sprite($tw-group); margin: -7px 0 0 -10px;}
	&:hover {background-color: #5ea9dd; &:before {@include retina-sprite($tw_hov-group);} }
}
.social_phn {
	border-color: #7bbf6a;
	&:before {@include retina-sprite($phn-group); margin: -9px 0 0 -9px;}
	&:hover {background-color: #7bbf6a; &:before {@include retina-sprite($phn_hov-group);} }
}
.social_skype {
	border-color: #00a2e2;
	&:before {@include retina-sprite($skype-group); margin: -8px 0 0 -8px;}
	&:hover {background-color: #00a2e2; &:before {@include retina-sprite($skype_hov-group);} }
}
.social_yad {
	border-color: #ff0303;
	&:before {@include retina-sprite($yad-group); margin: -9px 0 0 -5px;}
	&:hover {background-color: #ff0303; &:before {@include retina-sprite($yad_hov-group);} }
}
.social_u {
	border-color: #4894c9;
	&:before {@include retina-sprite($u-group); margin: -7px 0 0 -6px;}
	&:hover {background-color: #4894c9; &:before {@include retina-sprite($u_hov-group);} }
}
.social_inst {
	border-color: #4b9abf;
	&:before {@include retina-sprite($inst-group); margin: -11px 0 0 -11px;}
	&:hover {background-color: #4b9abf; &:before {@include retina-sprite($instw-group);} }
}




/* Breadcrumbs */
.breadcrumbs {
	font-size: 12px; line-height: 14px; color: #a6acb3; margin: 0 0 20px;
	a {color: $bl;}
}

/* pagination */
.pagination {
	text-align: center; margin: 0 0 30px;
	&_more {
		font-size: 13px; line-height: 14px; margin: 0 0 15px;
		a {color: #1b8ff1; text-decoration: none; border-bottom: 1px dashed #1b8ff1;}
		a:hover {border-bottom: 0;}
	}
	&_pages {
		color: #94adba; font-size: 14px; line-height: 30px;
		a, span.active {
			color: #94adba;
			display: inline-block;
			vertical-align: middle;
			width: 30px; height: 30px;
			margin: 0; @include br(50%);
			text-align: center;
			text-decoration: none;
		}
		span.active {background: #325862; color: #fff;}
		a.pagprev, a.pagnext {@include br(0);}
		a.pagprev {@include retina-sprite($pagprev-group); margin-right: 10px;}
		a.pagnext {@include retina-sprite($pagnext-group); margin-left: 10px;}
	}
}


/* modal */
.modal {
	background: #fff; padding: 30px 40px 40px; position: relative; width: 100%; max-width: 436px; @include bx; 
	display: block; z-index: 1001; opacity: 1;
	.inpf {margin: 0 0 10px;}
	.styler {width: 100%;}
	textarea.styler {height: 140px; display: block;}
	.btn {display: block; margin: 0 auto; padding: 0 30px;}
	&_header {
		text-align: center; margin: 0 0 20px;
		span {display: block; color: #000; font-size: 25px; line-height: 26px; margin: 0 0 8px;}
		small {color: #a6acb3; font-size: 14px; line-height: 16px; display: block;}
	}
	.fancybox-close-small, .modal_close {
		background: 0; @include retina-sprite($closeb-group); @include br(0); top: 10px; right: 10px;
		position: absolute;
		&:after {content: none; display: none;}
	}
}

/* modal_outer */
.modal_outer {display: none; position: relative; z-index: 1000;}
.modal_flex {
	position: fixed; left: 0; top: 0; bottom: 0; right: 0;
	@include flex; justify-content: center; align-items: center;
}
.modal_overlay {background: #142c32; opacity: 0.77; position: fixed; left: 0; top: 0; bottom: 0; right: 0;}

.advmodal {
	.btn {width: 100%;}
	.modal_header, .inpf {margin: 0 0 30px;}
}





/* switch */
.switch {
	text-align: center; margin: 0 0 40px;
	li {display: inline-block; font-size: 13px; line-height: 16px; width: 146px; 
		text-align: center; margin: 0 8px 0 0;}
	li:last-child {margin-right: 0;}
	li a {
		display: block; border: 1px solid #d7e7f4; color: $bl; text-decoration: none; padding: 9px;
		@include br(3px);
	}
	li.active a {
		background: 0; background: $bl; color: #fff; border: 0; padding: 10px;
	}
}


/* Text */
.text {
	margin: 0 0 30px;
	h2 {color: #000; font-size: 18px; line-height: 20px; font-weight: 400; margin: 0 0 10px;}
	p {margin: 0 0 20px;}
	ul li {position: relative; padding-left: 14px; margin: 0 0 6px;}
	ul li:before {@include bf; @include br(50%); width: 4px; height: 4px; left: 0; top: 7px; background: $bl;}
}


/* categories */
.categories {
	margin: 0 0 30px;
	&_title {color: #000; font-size: 22px; line-height: 24px; margin: 0 0 10px; font-weight: 400;}
	.btn {font-size: 14px;}
	.btn.tag {background: #d7e7f4; color: #325862; border: 0; padding: 15px 18px; 
		font-size: 14px; line-height: 16px; margin: 0 6px 10px 0;}
	.btn.tag:hover {background: #b7d6f0;}
}


/* paywin */
.fancybox-is-open .fancybox-bg {opacity: .77;}
.fancybox-bg {background: #142c32;}
.paywin {
	background: #fff; width: 100%; max-width: 388px; position: relative; display: none; padding: 0;
	&_header {
		border-bottom: 1px solid #d7e7f4; text-align: center; color: #121212;
		font-size: 25px; line-height: 26px; font-weight: 400; padding: 30px 20px 20px;
	}
	&_bottom {padding: 20px 34px; .btn {display: block;} }
	&_list li {border-bottom: 1px solid #d7e7f4; padding: 12px 34px;}
	&_check {
		display: block; cursor: pointer; padding-left: 40px; position: relative;
		.jq-radio {width: 19px; height: 19px; position: absolute !important; left: 0; top: 50%; 
			margin-top: -10px; border-color: #d7e7f4; background: #fafcfd;}
		.jq-radio__div {background: $bl; width: 11px; height: 11px; margin: 4px;}
		img {display: inline-block; vertical-align: middle; margin: 0 20px 0 0;}
		img:last-child {margin-right: 0;}
	}
	.fancybox-close-small {display: none !important;}
	&_close {display: block; position: absolute; right: 10px; top: 10px; @include retina-sprite($closeb-group);}
}


/* filtertrain */
.filtertrain {
	background: #ffffff; padding: 14px 20px 20px; @include shad(0 1px 8px rgba(0,0,0,0.2));
	@include br(6px); margin: 0 0 20px; position: relative;
	&:before {
		@include bf; border: 8px solid transparent; border-bottom: 8px solid #fff;
		right: 38px; top: -16px; display: none;
	}
	&_title {color: #000; font-size: 18px; line-height: 20px; margin: 0 0 14px; font-weight: 400;}
	&_links {margin: 0 0 20px; border-bottom: 1px solid #d7e7f4; padding: 0 0 20px;}
	&_btn {
		background: 0; display: inline-block; background: #f1f6fa; padding: 3px 6px 4px; font-size: 14px;
		line-height: 16px; text-decoration: none; color: #545454; margin: 0 5px 8px 0; @include br(14px);
		&:hover {background: $bl; color: #fff;}
		&.active {background: #325862; color: #fff;}
	}
}

@media screen and (max-width: 750px) {
	.filtertrain:before {display: block;}
}








