

$bl: #498dc6;
$orange: #f4b212;
$green: #7fc930;
$red: #c93030;

@mixin clr {
	&:after {content: ''; clear: both; display: block;}
}
@mixin bx {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
@mixin shad($shadow) {
	-webkit-box-shadow: $shadow; 
	box-shadow: $shadow;
}
@mixin br($radius) {
	border-radius: $radius; 
	-moz-border-radius: $radius; 
	-webkit-border-radius: $radius;
}
@mixin anim($sec) {
	transition: all $sec ease-in-out;
	-moz-transition: all $sec ease-in-out;
	-webkit-transition: all $sec ease-in-out;
	-ms-transition: all $sec ease-in-out;
}
@mixin tb {display: table; width: 100%; border-collapse: collapse;}
@mixin cell {display: table-cell;}
@mixin fix {position: fixed; left: 0; top: 0; right: 0; bottom: 0;}
@mixin bf {content: ''; position: absolute; display: block;}
@mixin flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@mixin gradv($from, $to) {
	background: $from;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(to bottom, $from 0%, $to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}
@mixin mid {
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
@mixin translate($per1,$per2) {
	transform: translate($per1,$per2);
	-moz-transform: translate($per1,$per2);
	-webkit-transform: translate($per1,$per2);
	-ms-transform: translate($per1,$per2);
}




