@import 'mixins';
@import 'sprites';


@media screen and (max-width: 1170px) {
.container {width: 990px;}
.hidden-md {display: none !important;}
.visible-md {display: block !important;}
.md3 {width: 25%;}
.md4 {width: 33.33333333%;}
.md6 {width: 50%;}
.md8 {width: 66.66666666%;}
.md12 {width: 100%;}


/* Navmenu */
.navmenu li {font-size: 12px;}

/* Caltable */
.caltable_box {width: 222px; max-width: 222px; min-width: 222px;}
.caltable_td {width: 74px;}

/* articlebox */
.articlebox a.btn {margin-right: 0;}
.articlebox_cat, .articlebox_tags {display: block; margin-right: 0;}

/* bookshort */
.bookshort {padding: 50px 32px;}

/* pamm */
.pamm_chart {width: 220px;}
.pammInfo_btnbox {display: block; width: auto; margin: 0 0 10px;}
.pammInfo .btn {line-height: 30px; padding: 0;}

/* brokers */
.brokers_img img {max-width: 90px;}

/* adminpage */
.userhead .userid {width: auto; text-align: left;}
.userhead .userlang {width: auto; float: right;}
.wrap {margin-right: 20px;}

/* side400 */
.side400 {float: none; width: auto;}
.box400 {padding: 0;}



/* ОБУЧЕНИЕ */
.bricksm .column220 {display: none;}
.bricksm .column220.shown {display: block; width: auto; float: none;}
.bricksmBox {padding-left: 0;}
.bricksmBoxIn {float: none; width: auto;}
.bricksmBoxIn:before {content: ''; clear: both; display: block;}
.modulekurs {padding: 24px;}
.modulekurs .coursePrice {float: none; margin: 0;}
.modulekurs_txt {float: none; width: auto; margin: 0 0 20px;}
.coursePrice {width: auto; padding: 24px 0 0;}
.coursePrice_col {float: left; width: 33.3333333%; padding: 0 12px; @include bx;}
.smnav-select {display: block;}

/* ПАРТНЕРАМ */
.started {margin: 0;}
.started .grid4 {float: none; margin: 0 0 30px; padding: 0; width: auto;}
.startedbox {
	margin-left: 26px; padding: 20px; padding-left: 82px; min-height: 0;
	&_num {left: auto; right: 20px;}
	&_title {margin: 0 0 20px; text-align: left;}
	&_icon {left: -26px; top: 50%; margin: -39px 0 0;}
}
.formula .part_ex {padding: 10px 8px; vertical-align: middle;}
.formula i {display: inline-block; vertical-align: middle;}
.formula .part_ex.bl {max-width: 140px; text-align: center; @include br(34px); padding-left: 0; padding-right: 0;}
.rowsm .grid6 {width: 100%;}
.partneram_table {margin: 0 0 20px;}


/* lk_partner_marketing */
.modalbanner {max-width: 728px; padding: 40px 0;}
.modalbanner_image {padding-left: 40px; padding-right: 40px;}
.partneram_table-big ul li span {max-width: 180px;}



/* pammport */
.pammport {
	padding: 20px;
	&_chart {width: 240px;}
	&_perc {width: 184px;}
	&_rt {
		padding-left: 20px;}
	.btn {margin: 68px 0 0;}
}
.pammport_chartwrap {min-height: 180px;}



}/* Medium */



@media screen and (min-width: 1020px) {
.aside {height: auto !important;}
}

@media screen and (max-width: 1020px) {
.container {width: 720px;}
.hidden-tb {display: none !important;}
.visible-tb {display: block !important;}

.tb2 {width: 16.666666666%;}
.tb3 {width: 25%;}
.tb4 {width: 33.333333333%;}
.tb5 {width: 41.666666666%;}
.tb6 {width: 50%;}
.tb8 {width: 66.666666666%;}
.tb9 {width: 75%;}
.tb12 {width: 100%;}

/* Header */
.headphones span {margin-right: 50px;}



/* Brick */
.brick_content {padding: 0;}
.brick_box {float: none; width: auto;}

/* Navmenu */
.navmenu li {font-size: 15px;}
.navmenu li.item {display: none;}
.navmenu .container {padding-right: 50px;}
.navmenu .showmenu {display: block;}

/* Menu mobile */
.aside {position: absolute; z-index: 1000; left: 0; top: 0; background: #fff; width: 380px; 
	@include translate(-400px,0); @include anim(250ms);}
.aside.opened {@include translate(0,0);}
.aside.hidden-lg {display: block;}
.mobnav_overlay, .userleftmenu_overlay {background: rgba(73,141,198,0.8); @include fix; z-index: 999; display: none;}
.userleftmenu_overlay {background: rgba(255,255,255,0.8);}
.aside .module {@include shad(none); margin: 0 0 5px;}
.aside .module_menu {border-bottom: 1px solid #d7e7f4;}
.aside .module_search {background: #f1f6fa;}
.aside .module_nav {margin: 0; display: block;}
.mobnav_close {display: block;}
.module_nav li.item {display: none;}
.mobnav_close {top: 12px; right: -40px;}



/* torgsignal */
.torgsignal {height: 480px;}

/* bookshort */
.tb12 .bookshort_name {min-height: 0; margin: 0 0 18px;}
.tb12 .bookshort_text {min-height: 0; margin: 0 0 26px;}

/* pamm */
.pammInfo {padding: 20px;}
.pammInfo_btnbox {display: inline-block; width: 120px; margin: 0 6px 0 0;}
.pammInfo .btn {display: block; width: auto; font-size: 14px; line-height: 44px;}
.pammInfo .btn-orange {margin: 0; line-height: 16px; padding: 6px 0; font-size: 12px;}
.pammInfo_img {padding-right: 20px; width: 110px;}
.pammInfo_rates {width: 160px;}


/* Fix col's */
.col_left {float: none; width: auto;}
.col_mid {padding-left: 0;}
.filternews .checkf {float: none; width: 130px; display: inline-block; @include bx; margin: 0 10px 16px 0;
	vertical-align: top;}
.filternews .checkf .jq-checkbox {top: -4px; margin: 0;}
.filternews_sound .checkf {display: block; width: auto; margin: 0;}
.filternews_sound .checkf .jq-checkbox {top: 50%; margin-top: -12px;}
.filternews .fshow, .checkrow_show {display: block;}
.filternews_hide {display: none;}
.checkrow_hide {
	height: 50px; overflow: hidden; position: relative;
	&:before {@include gradv(rgba(255,255,255,0),rgba(255,255,255,1)); width: 100%; height: 20px; left: 0; bottom: 0;
		@include bf; z-index: 10;}
}
.checkrow_hide.open {height: auto; overflow: visible; &:before {content: none; display: none;}}

/* checkrow */
.checkrow .checkf {display: inline-block; width: 110px; margin-right: 10px; @include bx; margin-bottom: 14px;}


/* lk-partners */
.allInfoBox {margin-bottom: 30px;}
.gift {margin-top: 20px;}
.partnerForm_tb20 {margin-bottom: 30px;}
.reportwrap4 {display: block; width: auto; @include clr;}
.reportwrap4 .reportbox {
	display: block; border-left: 1px solid #d7e7f4; width: 50%; float: left; @include bx;
	padding: 14px; border-bottom: 1px solid #d7e7f4; height: 120px;
	&:nth-child(odd) {border-left: 0;}
}


/* Обучение */
.module_consult_box {float: left; width: 260px;}
.module_consult .btn {float: left; margin: 10px 0 0 20px;}

/* ПАРТНЕРАМ */
.rowsm .grid6 {width: 50%;}
.partneram_table {margin: 0;}
.partneram_table_title {font-size: 14px;}
.partneram_table-big ul li span {max-width: 246px;}



/* pammport */
.pammport_chartwrap {min-height: 160px;}


}/* Tablet */



@media screen and (max-width: 740px) {
.hidden-sm {display: none !important;}
.visible-sm {display: block !important;}
.container {margin: 0 10px; width: auto;}
.row {margin-left: -10px; margin-right: -10px;}
[class*='grid'] {padding-left: 10px; padding-right: 10px;}
.sm4 {width: 33.333333333%;}
.sm6 {width: 50%;}
.sm8 {width: 66.666666666%;}
.sm12 {width: 100%;}

/* Header */
.header {padding: 15px 0;}

/* Nav */
.module_nav li.item {display: block;}
.aside {width: 260px !important;}

/* Module */
.module {margin: 0 0 20px;}
.aside .module {margin: 0;}
.module_title {font-size: 20px; line-height: 22px; padding: 15px;}
.module_content, .module_signals .module_content {padding: 15px;}
.module_menu li a {padding: 12px 40px 12px 15px;}
.module_menu li a:before {right: 15px;}



/* Antable */
.antable {
	th, td {padding: 10px; line-height: 16px; width: auto;}
	td {font-size: 13px;}
}




/* Caltable */
.caltable {display: block;}
.caltable_box {display: block; border-bottom: 1px solid #edf2f4; width: auto; max-width: none; 
	min-width: 0; @include clr; padding: 10px 14px;}
.caltable_row {display: block;}
.caltable_event {display: block; padding: 10px 14px; border-bottom: 1px solid #edf2f4;}
.caltable_td {float: left; width: 33.33333333%; padding: 0 !important;}
.caltable small {display: block;}


/* Filter */
.filter .grid_rt {padding-left: 5px;}


/* anonse */
.anonse {padding: 20px;}
.anonse .btn {display: block; max-width: 320px;}


/* subswrap */
.subswrap {padding: 20px;}
.subsbox {padding: 30px 20px 20px;}
.subsbox_title {font-size: 22px;}


/* Page */
.page_cover {min-height: 0; padding: 20px;}
.page_cover article {max-width: none;}
.page_cover h2 {font-size: 18px; line-height: 20px;}
.page_entry {padding: 20px;}


/* review */
.review {padding: 20px;}
.review_image {width: 180px;}
.review_text {padding-left: 200px;}
.review_meta .btn {width: 180px;}

/* bookshort */
.bookshort {padding: 30px 20px;}
.bookshort_name {min-height: 0; margin: 0 0 18px;}
.bookshort_text, .bookshort_text2 {min-height: 0; margin: 0 0 26px;}
.bookshort img {max-height: 44px;}

/* invest_text */
.invest_text img {max-width: 90px; margin: 0 0 14px;}
.invest_row .module {min-height: 0; padding: 30px 20px 20px;}
.invest_row .module:before {left: 20px;}
.invest_row .module h2 {margin-left: 50px;}

/* pammInfo */
.pammInfo {text-align: center;}
.pammInfo_inner {display: block; width: auto;}
.pammInfo_cell {display: block;}
.pammInfo_img {width: auto; padding: 0; margin: 0 0 14px;}
.pammInfo_img img {max-width: 130px;}
.pammInfo_btnbox {width: auto; display: block; max-width: 300px; margin: 0 auto 10px;}
.pammInfo_btnbox:last-child {margin: 0 auto;}
.pammInfo .btn {line-height: 18px; font-size: 14px; padding: 12px 0;}
.pammInfo_rates {width: auto; text-align: center; margin-top: 20px;}
.pammInfo .brokers_dig {width: auto; margin: 20px 10px 0 !important;}

/* pamm */
.pamm {padding: 30px 20px 20px;}
.pamm_inner {display: block;}
.pamm_desc, .pamm_chart {display: block; max-width: 280px; margin: 0 auto;}
.pamm_desc {padding: 0; margin-bottom: 20px;}
.pamm_name {margin-left: 0; margin-bottom: 24px;}
.pamm_desc img {width: 38px; height: 38px; top: -8px;}
.pamm_chart {width: auto; padding: 0;}
.pamm_chart img {max-width: 300px;}
.pamm_img {display: block; text-align: center; width: auto; margin: 0 0 20px;}
.pamm .btn {display: block;}


/* brokers */
.module_brokers {background: 0; @include shad(none);}
.brokers {display: block; width: auto;}
.brokers_head, .brokers_row {display: block;}
.brokers_head {display: none;}
.brokers_row {background: #fff; @include shad(0 1px 4px rgba(0,0,0,0.09)); margin: 0 0 10px;}
.brokers_row.brokers_active {background: 0;}
.brokers_spred {width: auto;}
.brokers_spred:before {content: none; display: none;}
.brokers_cell {padding: 14px; display: block; position: relative; float: none; width: auto; height: auto;}
.brokers_img {width: auto;}
.brokers_img img {max-width: 140px;}
.brokers_cell small {display: block;}
.brokers_dig {width: 70px; margin: 0 !important;}
.brokers_dig.line {margin-right: 14px !important;}

/* brokerInfo */
.brokerInfo {padding: 20px;}
.brokerInfo .socialbox {margin-top: 20px;}
.advbox {margin: 0 -20px 3px;}
.advbox ul {min-height: 0 !important;}
.tabs li a {padding: 14px 10px;}

.socialbox {text-align: center;}
.socialbox a {display: inline-block; float: none; vertical-align: top; margin: 0 2px 8px !important;}

/* adminpage */
.wrap {margin: 0 10px;}
.userleftmenu {
	width: 260px;
	min-height: 491px;
	transform: translateX(-400px);
	-moz-transform: translateX(-400px);
	-webkit-transform: translateX(-400px);
	-ms-transform: translateX(-400px);
	@include anim(200ms);
	ul li {border-bottom: 1px solid #23454e; text-align: left;}
	ul li a {height: auto; padding: 23px 20px 23px 70px;}
	ul li a:before {left: 22px; margin: 0; top: 50%; margin-top: -15px;}
	ul li.item-partner a:before {left: 16px; margin: 0; top: 50%; margin-top: -18px;}
	&.opened {
		transform: translateX(0);
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
	}
}
.ureview {padding: 20px;}


/* chartable */
.chartable {
	display: block; width: auto;
	&_tr {display: block;}
	.chartable_fst {display: none;}
	&_th, &_td {display: block;}
	small {display: block; position: absolute; width: 120px; display: block; left: 20px; top: 10px;}
	&_td {border-bottom: 1px solid #e8eef3; padding: 10px 10px 10px 140px !important; text-align: left !important;
		min-height: 16px; position: relative;}
}
.alertbox, .tmebox_content, .tmebox_title {padding: 20px;}
.signal_filter .socialbox {padding: 0 14px 14px;}
.signal_filter .checkrow {padding: 20px;}

/* partnerForm */
.partnerForm {padding: 20px;}


/* infograf */
.infograf {
	background: url(../images/map2.png) no-repeat; width: 224px; min-height: 266px;
	&_itm {
		padding: 0; height: 62px;
		&.itm1 {top: 0; left: 74px;}
		&.itm2 {top: 101px; left: 74px;}
		&.itm3 {top: 201px; right: auto; left: 74px;}
		span {
			top: 50%; left: 83px; display: block; max-width: 80px; white-space: normal;
			transform: translate(0,-50%); -moz-transform: translate(0,-50%);
			-webkit-transform: translate(0,-50%);
		}
	}
	&_part {
		transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg);
		padding: 6px 0 10px; left: -50px; bottom: 50px; top: auto; right: auto;
	}
}


/* lk-partners */
.allInfoBox {margin-bottom: 20px;}
.partnerForm_tb20 {margin-bottom: 20px;}
.module_title2, .borderLinks {padding: 20px;}


/* shopTop */
.shopbox {padding: 20px; margin: 0 0 20px;}
.shopTop {margin: 0 0 20px;}
.shopTop_left {float: none; margin: 0;}
.shopTop_right {float: none; margin: 0;}


/* ОБУЧЕНИЕ */
.modulekurs .coursePrice {width: 100%; max-width: 340px; padding: 20px; margin: 0 auto; display: block;}
.coursePrice_col {float: none; width: auto; padding: 0;}
.module_video {height: 168px;}
.module_consult {text-align: center; padding: 24px 24px 80px;}
.module_consult .btn {float: right; margin: 20px 0 0;}
.module_consult_box {float: none; width: auto;}
.smnav-select__head {padding: 10px 20px;}
.smnav-select__name {float: none; display: block;}
.smnav-select__sel {float: none; display: inline-block;}
.studybanner {padding: 24px 20px; height: auto; display: block; width: auto;}
.studybanner_inner {display: block; padding: 0;}
.studybanner_title {font-size: 22px; line-height: 26px;}
.studybanner_name {font-size: 16px; line-height: 20px; font-weight: 300; margin: 0 0 8px;}
.studybanner_group {color: #bfd7eb; font-size: 14px; line-height: 20px; font-weight: 300; margin: 0;}

/* ПАРТНЕРАМ */
.rowsm {margin: 0;}
.rowsm .grid6 {float: none; padding: 0; width: auto;}
.partneram_table {margin: 0 0 20px;}
.formula {text-align: center;}
.formula i, .formula .part_ex {display: block;}
.formula .part_ex.bl {max-width: none;}
.special4you li {margin: 0 0 20px;}
.special4you li:last-child {margin: 0 0 20px;}


/* lk_partner_marketing */
.markrow {margin: 0;}
.markbox {min-height: 0;}
.markbox_img {display: block; height: auto; text-align: center;}
.marketing_header {padding: 10px 15px 10px 20px;}
.dropfilter {top: 114px; width: 300px; padding: 14px 20px;}
.dropfilter:before {right: 50%; margin-right: -4px;}
.dropfilter .grid4 {margin: 0 0 10px;}
.docbox {padding: 20px;}



/* pammport */
.pammport {
	&_in {display: block; width: 260px; margin: 0 auto;}
	&_chart, &_rt {display: block;}
	&_chart {width: auto; margin: 0 0 20px;}
	&_rt {padding: 0;}
	&_perc {float: none; width: auto; margin: 0 0 20px;}
	.btn {float: none; display: block; margin: 0;}
}


}/* Mobile */


@media screen and (max-width: 500px) {
html {-webkit-text-size-adjust: none;}
.hidden-xs {display: none !important;}
.visible-xs {display: block !important;}
.mobile_block {display: block !important;}

.xs4 {width: 33.333333333%;}
.xs6 {width: 50%;}
.xs8 {width: 66.666666666%;}
.xs12 {width: 100%;}


/* torgsignal */
.torgsignal {height: auto; display: block; background-size: cover; padding: 38px 10px;}
.torgsignal_text h1 {font-size: 26px; line-height: 28px; margin: 0 0 20px;}
.torgsignal_text h3 {font-size: 17px; line-height: 19px;}

/* download_book */
.download_book {padding: 20px;}
.download_form .btn {width: 100%;}

/* articlebox */
.articlebox a.btn {display: block;}
.articlebox_comments {display: block; margin: 12px 0 0;}
.articlebox_new a.btn {margin: 0 0 16px;}
.articlebox_new .articlebox_meta {text-align: center;}
.articlebox_new .articlebox_meta .articlebox_cat,
.articlebox_new .articlebox_meta .articlebox_tags {text-align: left;}
.articlebox_new .articlebox_comments_wrap {text-align: center; float: none; margin: 0;}
.articlebox_new .articlebox_comments {display: inline-block;}

/* review */
.review_image {float: none; width: auto; margin: 0 0 20px;}
.review_text {margin: 0 0 20px; padding: 0;}
.review_meta .btn {width: auto; display: block; float: none; margin: 0 0 18px;}
.review_meta .articlebox_comments_wrap {float: none; text-align: center; margin: 0;}
.review_new .articlebox_comments {display: inline-block; margin: 0;}


/* modal */
.modal {padding: 30px 20px 20px; max-width: 300px;}
.modal .btn {width: 100%;}
.modal.modalbanner {padding: 40px 0;}
.modalbanner_image {margin: 0 0 20px; padding: 0 20px 14px;}
.modalbanner_image .modalbanner_form {margin: 0;}
.modalbanner_form {max-width: none; margin: 0 20px;}


/* register_box */
.register_box {padding: 26px 0;}
.register_form {
	height: 89px; padding: 4px 18px; margin-bottom: 20px; max-width: 320px;
	.btn {width: 100%; right: 0; top: auto; bottom: 1px; left: 0;}
	.reginp {height: 36px; border: 0; background: 0; width: 100%; font-size: 14px; 
		font-family: 'Open Sans', sans-serif; outline: none; padding: 0; margin: 0;}
	.partnerForm_btn {margin: 0; position: absolute; left: 2px; right: 2px; bottom: 1px;}
}

/* pamm */
.pamm_desc .btn {display: block;}

/* Categories */
.categories .btn, .categories .btn.tag {padding: 8px 12px; font-size: 13px;}

/* advbox */
.advbox .btn {display: block;}

/* loginpage */
.signbox {padding-top: 30px; width: auto; margin: 0 10px;}
.signform {padding: 20px;}

/* filternews */
.filternews .checkf {width: 110px;}
.filternews_box_1 .checkf {display: block; width: auto; margin: 0 0 14px;}
.newsbox {padding: 20px;}
.newsbox_date {float: none; width: auto; text-align: left; margin: 0 0 10px;}
.newsbox_date span {padding: 0 0 0 24px; margin: 0;}
.newsbox_date span:before {left: 0; top: -4px; margin: 0;}
.newsbox_date br {display: none;}
.newsbox_text {padding-left: 0;}


/* brokerTypesNav */
.brokerTypesNav {margin: 0 -20px 20px; border-bottom: 1px solid #d7e7f4; padding: 0 0 10px;}
.brokerTypesNav li {font-size: 13px; line-height: 14px; font-weight: 400; margin: 0 0 6px;}
.brokerTypesNav li a {padding: 4px 10px 4px 20px;}
.brokerTypesNav li.active {font-weight: 400;}
.brokerTypesNav li.active a {background: 0; color: #000; padding-left: 18px;}

/* brokerRevNav */
.brokerRevNav {
	margin: 0 -20px 20px; padding-bottom: 10px;
	span, a {display: block; padding: 4px 20px; margin: 0 0 6px;}
	span {margin-right: 0;}
	a {@include br(0);}
	a.active {background: 0; color: #000; border-left: 2px solid $bl; padding-left: 18px;}
}


.brokerTypesText h2 {font-size: 20px; line-height: 22px; margin: 0 0 20px;}
.typam {display: block; width: auto; border: 1px solid #d7e7f4; border-bottom: 0;}
.typam_tr {display: block; border-bottom: 1px solid #d7e7f4; padding: 12px 14px;}
.typam_tr:nth-child(even) {
	background: #fafcfd;
	.typam_td, .typam_val {background: 0;}
}
.typam_td, .typam_val {display: block; border: 0; padding: 0;}
.typam_td {border: 0; font-weight: 300; margin: 0 0 6px;}
.typam_val {width: auto; padding: 0;}


/* lk-partners */
.allInfoBox {margin: 0 0 14px; padding: 20px; min-height: 0;}
.reportwrap4 .reportbox {border-left: 0; width: auto; float: none; padding: 14px; height: auto; text-align: left;}
.reportwrap4 .reportbox b {display: inline-block; vertical-align: middle; margin-right: 20px;}
.reportwrap4 .reportbox span {display: inline-block; vertical-align: middle; max-width: 100px;}

/* shopTop */
.shopTop .jq-selectbox, .shopTop .selectbox {float: none; width: 100%; margin: 0 0 10px;}
.shopTop .shopTop_view {position: absolute; right: 0; top: 22px; float: none;}


/* Партнерам */
.partneram_cover {
	height: 216px; padding-top: 25px;
	h1 {line-height: 24px; font-size: 23px; margin: 0 0 20px;}
	img {max-width: 164px;}
}
.partneram_table {
	&_title {border-bottom: 1px solid #d7e7f4; padding: 16px 20px; font-size: 14px; margin: 0;}
	ul {margin: 0;}
	ul li {
		background: 0; border-bottom: 1px solid #d7e7f4; margin: 0; padding: 10px 20px;
		span {float: none; max-width: none; padding: 0; background: 0; display: block; margin: 0 0 4px;}
		ins {float: none; width: auto; background: 0; padding: 0; display: block;}
	}
}
.startedbox {
	margin: 0; padding: 20px; padding-top: 50px;
	&_title {margin: 0 0 14px;}
	&_icon {left: 50%; top: -20px; margin: 0 0 0 -29px; width: 58px; height: 58px;}
}


/* lk_partner_info */
.statusInfoWrap {margin: 0 0 20px;}
.statusInfoWrap h1 {float: none; margin: 0 0 14px;}
.statusInfoWrap .statusInfo {float: none;}
.changedbox {text-align: left; padding: 20px;}
.changedbox_inline {display: block;}
.module_profinfo {padding: 0;}
.module_profinfo .row {margin: 0;}
.module_profinfo .grid6 {float: none; width: auto; padding: 0; margin: 0;}
.module_profinfo .partneram_table {margin: 0;}
.partneram_table ul li {padding: 14px 20px;}
.partneram_table-big ul li span {max-width: none;}
.partneram_table-big ul li ins {width: auto;}
.partneram_table ul li ins i {display: block;}
.docbox_fst {margin: 0 0 20px;}



}/* XS */




