/* For centering on page */
.center-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* For Share buttons */
.SocialMediaShareButton{
    cursor: pointer;
    outline: none;
}

/* Alerts */
.alerts {
  position: fixed;
  z-index: 1120;
  top: 20px;
  right: 20px;
}

.alert {
  margin-bottom: 10px;
  padding: 7px 15px;
  width: 300px;
  border: 3px solid transparent;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  z-index: 1000;
}

.alert p {
  padding-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.alert img {
  cursor: pointer;
  height: 15px;
}

.alert-success {
  border-color: #008000;
  background-color: #7fc930;
}


.alert-danger {
  border-color: #c93030;
  background-color: #c93030;
}


/* Signals scroll */
.signal_scroll::-webkit-scrollbar {
    width: 0.2em;
    height: 0.4em;
}
 
.signal_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.signal_scroll::-webkit-scrollbar-thumb {
  background-color: #498dc6;
  outline: 1px solid #498dc6;
}


/* Responsive */

@media only screen and (max-width: 479px) {
  .alert {
    width: 260px;
  }
}

@media screen and (max-width: 600px) {
  .mobile-hidden-600{
    display:none;
  }
}

@media screen and (max-width: 740px) {
  .mobile-hidden-740{
    display:none;
  }

}

/* Addition */
.antable td.active.up {
  background: #7fc930 !important;
  color: #fff; 
}
.antable td.active.down {
  background: #c93030 !important;
  color: #fff; 
}

.review_new .review_image img{
  height: 100%;
}

.btn-center{
  margin: 10px auto;
  display: block;
  max-width: 145px;
}
/*
.modal .btn {
  display: block;
  margin: 0 auto;
  padding: 0 30px;
}
*/
.minimodal{
  display: block;
}

/*
.broker .modal .btn{

  padding: 8px 20px 10px;
}
*/

.broker .minimodal_tabs .btn{
  margin-left: 10px;
}

.studynav_show.open:before {
  transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0); }

.checkf .jq-checkbox, .checkf .jq-radio, .checkf input.checks{
  left: 0;
  top: 2px;
  position: absolute !important;
}

.jq-radio{
  width: 14px;
  height: 14px;
}

.sybol_name{
  cursor: pointer;
}

.swiper-scrollbar{
  background: none;
}

.swiper-scrollbar-drag{
  background: none;
}

.toolspage_slider .owl-dot.active{
  -webkit-box-shadow: none;
  box-shadow: none;
}


@keyframes flash_red{
  from {
    background: none;
  }
  50% {
    background: #ffd7d7;
  }
  to {
    background: none;
  }
}

.antable .red{
  -webkit-animation: flash_red 2s ease-out normal 1;
  animation: flash_red 2s ease-out normal 1;
}

@keyframes flash_green{
  from {
    background: none;
  }
  50% {
    background: #bbe293;
  }
  to {
    background: none;
  }
}

.antable .green{
  -webkit-animation: flash_green 2s ease-out 1;
  animation: flash_green 2s ease-out 1;
}

select.selectbox:hover,
input:hover{
  border-color:#00a2e2;;
}
.mob {
  display: none; }

@media screen and (max-width: 800px) {
  .mob {
    display: block; }
}

@media screen and (max-width: 720px) {
  .desc {
    display: none;
  }
  .mob {
    display: inline; }
}

button.owl-dot:focus,
button.owl-prev:focus,
button.owl-next:focus{
  outline: none;
}

.homeslider .owl-dot{
  background-color: #325862 !important ;
}

.hometopCar .owl-dot {
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
  height: 8px;
  width: 8px;
}

.head_banner_box{
  max-height: 64px;
}

.swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: .2;
}

.swiper-pagination-bullet.active {
  opacity: 1;
  background: #498dc6;
}

.statistics_icons--active{
  background: #498dc6;
}

.statistics_icons--active>a{
  color: #fff !important;
}

@media screen and (max-width: 1020px) {
  #articles_slider .owl-item {
    width: 242px; }
}


.head_banner a{
  text-decoration: none;
}

.studynav_header{
  font-size: 15px;
}

.active_analysis:after{
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #8cd050;
  left: 20px;
  top: 50%;
  margin-top: -2px;
}
.active_analysis::after{
  background: #498dc6
;
}

input[type="radio"]{
  appearance: auto;
  -webkit-appearance: auto;
}
.opBtn{
  background-image: url(../images/opbtn.svg);
  background-repeat: no-repeat;
}
.opBtn.active{
  background-image: url(../images/opbtn2.svg);
  background-repeat: no-repeat;
}