/* Settings */
$bl: #008eca;
$or: #ffb200;
$grid-gutter: 10px;


@mixin clr { &:after {content: ''; clear: both; display: block;} }
@mixin bx {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
@mixin bf {content: ''; display: block; position: absolute;}
@mixin br($rad) {border-radius: $rad; -moz-border-radius: $rad; -webkit-border-radius: $rad;}
@mixin shad($shad) {-webkit-box-shadow: $shad; -moz-box-shadow: $shad; box-shadow: $shad;}
@mixin tb {display: table; width: 100%; border-collapse: collapse;}
@mixin cell {display: table-cell; vertical-align: middle;}
@mixin flex {display: -webkit-flex; display: -ms-flexbox; display: flex;}
@mixin anim($sec) {transition: all $sec ease-out; -moz-transition: all $sec ease-out; -webkit-transition: all $sec ease-out;}
@mixin font {font-family: 'Open Sans', sans-serif;}
@mixin inp {-webkit-appearance: none; appearance: none; @include bx; margin: 0; outline: none;}