@import "mixins";

/* Medium */
@media screen and (max-width: 1240px) {
.container {width: 992px;}
.md-visible {display: block !important;}
.md-hidden {display: none !important;}
.md6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.md12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}

/* youcan */
.youcan .container {flex-wrap: wrap; align-content: center;}
.youcan_title {margin: 0 0 20px; text-align: center; min-width: 0; max-width: none; width: 100%;}
.youcan_title span {display: inline;}

/* indicators */
.indicators {
  margin: 0 0 60px;
  &_title {font-size: 30px; line-break: 34px;}
	&_form {padding: 40px; min-width: 380px; max-width: 380px;}
	&_content {padding: 40px; padding-left: 110px;}
}

/* rent */
.rent {
  padding: 40px; margin: 0 0 60px;
	&_row {margin-right: 380px;}
  &_phone {position: absolute; right: 0; bottom: 0;}
  &_step {display: block; min-height: auto; display: block;}
  &_step_text {display: flex; display: -ms-flexbox; margin: 0 0 20px;}
  &_step_num {margin: 0 20px 0 0;}
  &_row .row {margin: 0;}
  &_row .grid-4 {padding: 0; margin-bottom: 1px;}
}

/* bottom_description */
.bottom_description_entry {padding: 30px;}
.bottom_description_brands img {height: 18px;}

/* modal */
#modal3 .modalform .btn {max-width: 240px; margin: 0 auto; display: block;}
#modal3 .modalform .input-field {margin: 0 0 14px;}
#modal3 .grid-20:last-child .input-field {margin: 0;}


}
/* End Medium */


/* Tablet */
@media screen and (max-width: 1020px) {
.container {width: 720px;}
.tb-visible {display: block !important;}
.tb-hidden {display: none !important;}
.tb6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.tb12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}

/* header */
.header {margin: 0 0 90px; border-bottom: 1px solid rgba(255,255,255,0.15);}
.header .container {border: 0; height: 86px;}
.header_desc {font-size: 11px; line-height: 14px;}
.header_desc_text {max-width: 136px;}

/* firstcreen */
.firstcreen {
	&-container {padding-bottom: 100px; display: block;}
	&_left {
    width: 100%; max-width: 510px; position: relative; z-index: 100;
    font-size: 18px; line-height: 22px;
		h1 {font-size: 50px; line-height: 54px;}
		h3 {font-size: 27px; line-height: 32px;}
  }
  &_right {right: -210px; bottom: -10px; width: 480px;}
}

/* youcan */
.youcan {
  margin-bottom: 100px; margin-top: 0;
  background: #fff; border-bottom: 2px solid $bl; padding: 40px 0; @include shad(0 15px 25px rgba(0,0,0,0.05));
  .container {height: auto; background: 0; border: 0; @include br(0); @include shad(none); padding: 0;}
  &_box {font-size: 13px; line-height: 16px;}
  &_icon {min-width: 70px; max-width: 70px; height: 70px; margin-right: 14px;}
}

/* indicators */
.indicators {
  &_title {font-size: 30px; line-height: 34px;}
	&_form {padding: 30px; min-width: 320px; max-width: 320px;}
	&_form &_title {font-size: 27px; line-break: 31px;}
	&_content {padding: 30px; padding-left: 100px; font-size: 17px; line-height: 21px;}
	&_content li {font-size: 17px; line-height: 21px; margin: 0 0 25px;}
}

/* conditions */
.conditionbox {padding: 30px 10px;}
.conditionbox img {margin-bottom: 24px;}
.pagetitle {font-size: 27px; line-height: 31px;}

/* rent */
.rent {
  padding: 34px 38px 38px; margin: 0 0 60px; overflow: hidden;
  .pagetitle2 {font-size: 18px; line-height: 22px; margin: 0 0 30px;}
  &_row {margin-right: 300px;}
  &_phone {width: 400px; right: -10px;}
  &_step {
    font-size: 11px; line-height: 14px;
		&_text {padding: 5px 10px 0; margin: 0 0 14px;}
		&_num {font-size: 31px; line-height: 32px;}
		&_name {margin: 0 0 10px;}
	}
}

/* bottom_description */
.bottom_description {
	display: block;
  &_logos {min-width: 0; max-width: none; margin: 0 0 20px; @include flex; align-items: center; justify-content: center;}
  &_logos img {margin: 0 50px 0 0;}
  &_entry {padding: 24px 28px;}
}

/* footer */
.footer {padding: 40px 0;}
.footer img {height: 16px;}

/* Modals */
.modal {max-width: 720px;}
.modal_inner {padding: 40px;}
.modal_title {font-size: 27px; line-height: 32px; margin: 0 0 30px;}
.modal_quote {max-width: 386px; padding: 30px 20px; font-size: 15px; line-height: 20px; margin: 30px auto;}
.modal_text.bottom {margin-right: 288px;}
#modal1 {
	.modal_inner {
    padding: 30px 140px;
    &::before, &::after {width: 210px; background-size: 210px;}
		&::before {left: -80px;}
		&::after {left: auto; right: -80px;}
	}
}
#modal2 .modal_inner {
  background-position: -244px bottom;
}
#modal2 .modalform .input-field {margin: 0 0 14px;}
.modalform {padding: 30px;}
#modal2 .modalform .btn {max-width: 240px; margin: 0 auto; display: block;}
.border_text {margin-bottom: 30px; display: block;}
.border_text_box {padding: 24px 28px; margin: 0 0 30px;}
.border_text_box.link_tme {
  margin: 0; display: block; border: 0; padding: 0; text-align: left; background: none;
  span {position: relative; padding-left: 28px;}
  span::before {margin: 0; left: 0; top: 0; position: absolute; width: 20px; height: 16px;}
}

}
/* End Tablet */


/* Small */
@media screen and (max-width: 750px) {
html {-webkit-text-size-adjust: none;}
.container {margin: 0 15px; width: auto;}
.sm-visible {display: block !important;}
.sm-hidden {display: none !important;}
.sm6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.sm12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
.btn {font-size: 13px; line-height: 18px; padding: 11px 16px;}
.btn-large {font-size: 18px; line-height: 22px; padding: 17px 24px;}
input.btn, button.btn {height: 40px; line-height: 40px; padding-top: 0; padding-bottom: 0;}
input.btn.btn-large, button.btn-large {height: 56px; line-height: 56px; padding-top: 0; padding-bottom: 0;}

/* header */
.header {
  border: 0; margin: 0 0 25px;
  .container {height: auto; padding: 10px 0;}
  &_desc_mobile {@include flex;}
}

/* firstcreen */
.firstcreen {
	&-container {display: block; padding-bottom: 20px;}
	&_left {
    width: 100%; max-width: none; position: relative; z-index: 100;
    font-size: 15px; line-height: 19px;
		h1 {font-size: 35px; line-height: 38px; margin: 0 0 20px;}
		h3 {font-size: 20px; line-height: 24px; margin: 0 0 10px;}
  }
  &_text {max-width: 250px; margin: 0 0 20px;}
  &_right {right: -230px;}
  &_left_footer {display: block;}
  &_left_footer .btn {display: block; margin: 0 0 20px;}
  &_price {font-size: 25px; line-height: 28px;}
  &_price span {font-size: 13px; line-height: 16px;}
}

/* rangebox */
.rangebox {
  background: -moz-linear-gradient(left, rgba(30,35,39,0.85) 0%, rgba(44,87,123,0.85) 100%);
  background: -webkit-linear-gradient(left, rgba(30,35,39,0.85) 0%,rgba(44,87,123,0.85) 100%);
  background: linear-gradient(to right, rgba(30,35,39,0.85) 0%,rgba(44,87,123,0.85) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91e2327', endColorstr='#d92c577b',GradientType=1 );
  display: block; padding: 12px 16px; margin: 0 0 10px;
  &_name {min-width: 0; max-width: none; margin: 0 0 15px; text-align: left; padding: 0;}
  &_container {margin: 0 0 10px;}
}

/* youcan */
.youcan {
  margin-bottom: 30px; padding: 20px 0 10px;
  &_box {font-size: 13px; line-height: 16px; margin: 0 0 10px;}
  &_icon {min-width: 70px; max-width: 70px; height: 70px; margin-right: 14px;}
  &_title {font-size: 20px; line-height: 24px; margin: 0 0 10px;}
  &_title span {display: block;}
  &_icon {min-width: 50px; max-width: 50px; height: 50px; background-size: 26px 26px;}
}

/* indicators */
.indicators {
  display: block; margin: 0 0 30px;
  &_form {top: auto; margin-right: 20px;}
	&_content {position: relative; margin: -240px 0 0 20px; width: auto; padding: 260px 20px 20px;}
	&_content ul {margin: 0 0 0 10px;}
	&_content li {margin: 0 0 14px; font-size: 15px; line-height: 19px;}
	&_content li b {display: block;}
	&_form &_title, &_title {font-size: 20px; line-height: 24px; margin: 0 0 20px;}
}
.pagetitle {font-size: 20px; line-height: 24px; margin: 0 0 20px;}

/* conditions */
.conditions {margin-bottom: 20px;}
.conditionbox {padding: 20px; font-size: 13px; line-height: 16px;}
.conditionbox img {height: 40px; margin-bottom: 14px;}
.conditionbox_icon {background-size: 40px 40px; width: 58px; height: 40px; margin-bottom: 10px;}

/* rent */
.rent {
  display: block; padding: 25px 25px 310px; margin: 0 0 25px;
  .pagetitle {margin: 0 0 20px;}
  .pagetitle2 {font-size: 15px; line-height: 19px; margin: 0 0 20px;}
  &_row {margin: 0;}
  &_phone {width: auto; height: 285px; right: 0; bottom: 0; display: none;}
  &_phone.mob {display: block;}
}

/* bottom_description */
.bottom_description {
  margin: 0 0 30px;
	&_logos {
    justify-content: space-between; margin: 0 0 25px;
    img {height: 30px; margin: 0;}
  }
	&_entry {
    padding: 22px 26px; font-size: 13px; line-height: 16px;
    .showlink {display: block;}
    .short_text {overflow: hidden; @include anim(200ms); height: 194px;}
  }
	&_brands {
		display: block; text-align: center;
		img {display: inline-block; vertical-align: middle; margin: 20px 15px 0;}
	}
}

/* footer */
.footer {padding: 0 0 25px;}
.footer .bottom_description {display: block; margin: 0;}
.footer .bottom_description_logos {display: block; margin: 0; text-align: center;}

/* Modals */
.modal_inner {padding: 20px 10px; font-size: 13px; line-height: 17px;}
.modal_title {font-size: 20px; line-height: 24px; margin: 0 0 20px;}
.modal_quote {max-width: none; padding: 20px; font-size: 13px; line-height: 17px; margin: 20px 0;}
.modal_text {margin: 0 20px 20px;}
.modal_text.bottom {margin: 0; text-align: center;}
#modal1 .modal_inner {
  padding: 20px 10px 178px;
  &::before {content: none; display: none;}
  &::after {
    background: url(../images/mobile_robot1.png) center bottom no-repeat; width: 100%; height: 162px;
    left: 0; bottom: 0; right: auto;
  }
}
#modal2 .modal_inner {
  background-position: -150px bottom; padding-bottom: 78px;
  background-size: 360px;
}
.modalform {padding: 20px;}
#modal2 .modalform .btn {max-width: none; margin: 0;}
#modal2 .modalform .input-field {margin: 0 0 14px;}
#modal3 .modal_inner {background-size: 352px; padding-bottom: 150px;}
.border_text {margin-bottom: 20px;}
.border_text_box {padding: 18px 20px; margin: 0 0 20px;}
.border_text_box.link_tme {text-align: center;}



}
/* End Small */
