@import "compass/reset";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');



/* === Reset === */
* {@include bx;}
html, body {height: 100%; min-height: 100%; margin: 0;}
body {background: #f1f6fa; font-size: 14px; @include font; line-height: 22px; margin: 0;}
main {display: block;}
img {border: 0; max-width: 100%;}
p {margin: 0 0 20px; &:last-child {margin: 0;} }
ul, ol {padding: 0; margin: 0;}
li {list-style: none;}
b {font-weight: 700;}
a, input, textarea {outline: none;}
a {color: $bl;}
a:hover {text-decoration: none;}
th {font-weight: normal; text-align: left;}
fieldset {padding: 0; border: 0; margin: 0;}
blockquote {margin: 0; padding: 0;}
textarea {resize: none; overflow: auto;}
input::-moz-focus-inner {border: 0; padding: 0;}
.clear {clear: both; display: block;}


/* === Responsive grid === */
.container {margin: 0 auto; width: 1200px;}
.clearfix {@include clr;}
.row {
	display: -ms-flexbox; display: flex;
	-ms-flex-wrap: wrap; flex-wrap: wrap;
	margin-left: -$grid-gutter / 2;
	margin-right: -$grid-gutter / 2;
}
[class*='grid'] {@include bx; padding-left: $grid-gutter / 2; padding-right: $grid-gutter / 2; width: 100%;}
.grid-20 {-ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%;}
.grid-3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
.grid-4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
.grid-6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.grid-8 {-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}
.grid-9 {-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
.grid-80 {-ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%;}
.order-first {-ms-flex-order: -1; order: -1;}
.order-last {-ms-flex-order: 13; order: 13;}
.pull-left {float: left;}
.pull-right {float: right;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.sm-visible, .tb-visible {display: none;}




/* === FORMS === */
.input, .btn {@include font; @include inp;}

.input {
	background: #fafcfd;
	border: 1px solid #d7e7f4;
	@include shad(inset 0 2px 2px rgba(0,0,0,0.04));
	@include br(4px);
	padding: 10px 18px;
	font-size: 14px;
	line-height: 20px;
	@include font;
	height: 46px;
	&:focus {border-color: $bl;}
}

/* === Button === */
.btn {
	background: $bl;
	border: 0;
	cursor: pointer;
	display: inline-block; 
	text-decoration: none;
	text-align: center;
	color: #fff;
	@include br(4px);
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	padding: 13px 24px;
	@include anim(200ms);
	&:hover {background: #006fa1;}
	&-white {
		background: #fff; color: $bl;
		&:hover {background: #dcdcdc;}
	}
	&-orange {
		background: $or; color: #000;
		&:hover {background: #c18700;}
	}
	&-large {
		font-size: 22px;
		line-break: 26px;
		padding: 18px 40px 20px;
	}
}
input.btn, button.btn {padding-top: 0; padding-bottom: 0; height: 46px; line-height: 46px;}
input.btn-large, button.btn-large {padding-top: 0; padding-bottom: 0; height: 64px; line-height: 64px;}

/* === Radio / Checkbox === */
input[type='radio'], input[type='checkbox'] {
	@include inp; padding: 0; display: inline-block; vertical-align: middle; position: relative; cursor: pointer;
	border: 1px solid #d7e7f4; @include shad(inset 0 2px 2px rgba(0,0,0,0.04)); width: 20px; height: 20px;
}
input[type='checkbox'] {
	@include br(3px); background: #fafcfd url(../images/svg/correct.svg) -9999px -9999px no-repeat;
	background-size: 10px 10px;
	&:checked {background-position: center center;}
}

/* === Select === */
.jq-selectbox {
	display: block; margin: 0;
	&__select {
		background: #fafcfd; border: 1px solid #d7e7f4; @include shad(inset 0 2px 2px rgba(0,0,0,0.04));
		@include br(4px); outline: none; height: 46px; color: #000; padding: 0 18px 0 18px; font-size: 14px;
		line-height: 44px; cursor: pointer; position: relative;
	}
	&.focused &__select {border-color: $bl;}
	&__trigger {
		border: 0; background: url(../images/svg/arrow.svg) no-repeat; background-size: 8px 8px; width: 8px; height: 8px;
		position: absolute; right: 10px; top: 50%; margin-top: -4px; transform: rotate(90deg);
	}
	&__dropdown {
		background: #fff; border: 1px solid #d7e7f4; @include shad(inset 0 2px 2px rgba(0,0,0,0.04));
		@include br(4px); margin-top: 2px; width: 100%; top: 47px;
		ul {padding: 2px;}
		li {cursor: pointer; padding: 8px 16px 8px 18px; font-size: 14px; line-height: 16px; position: relative;}
		li:hover {background-color: #fafcfd;}
	}
}
.select_code {
	.jq-selectbox__select {padding-left: 32px;}
	.jq-selectbox__dropdown li {padding-left: 32px;}
	.jq-selectbox__select, .jq-selectbox__dropdown li {
		background-position: 10px center; background-size: 19px 13px; background-repeat: no-repeat;
	}
	&.rus .jq-selectbox__select, .jq-selectbox__dropdown li.rus {background-image: url(../images/flags/russia.svg);}
	&.ukr .jq-selectbox__select, .jq-selectbox__dropdown li.ukr {background-image: url(../images/flags/ukraine.svg);}
	&.usa .jq-selectbox__select, .jq-selectbox__dropdown li.usa {background-image: url(../images/flags/usa.svg);}
}


/* === Fields === */
.check-field {
	position: relative; padding-left: 34px; display: inline-block; cursor: pointer;
	font-size: 12px; line-height: 16px; color: #becbd6; font-weight: 400; 
	input[type='radio'], input[type='checkbox'] {position: absolute; left: 0; top: 0;}
	a {text-decoration: none;}
	a:hover {text-decoration: underline;}
}
.input-wrapper {position: relative;}
.input-field {
	display: block; margin: 0 0 10px; text-align: left;
	&-text {color: #becbd6; font-size: 12px; line-height: 14px; margin: 10px 0 0;}
	label {display: block; font-size: 14px; line-height: 16px; margin: 0 0 10px; font-weight: 700; min-height: 16px;}
	label.check-field {font-weight: 400;}
	&:last-child {margin: 0;}
	.input {width: 100%;}
	select, .jq-selectbox {width: 100%;}
	.btn {width: 100%;}
}

/* phone_field */
.phone_field {
	@include flex;
	.input {@include br(0 4px 4px 0);}
	.jq-selectbox {min-width: 90px; max-width: 90px;}
	.jq-selectbox__select {@include br(4px 0 0 4px); border-right: 0;}
}


/* icon_quest */
.icon_quest {
	background: url(../images/svg/question.svg) center center no-repeat; background-size: 14px 14px; opacity: 0.35;
	width: 34px; height: 36px; position: relative; display: inline-block; vertical-align: middle;
	&:hover {opacity: 1;}
	&:hover .tooltip {opacity: 1; visibility: visible;}
}
.input-wrapper .icon_quest {
	position: absolute; right: 5px; top: 5px;
	.input {padding-right: 40px;}
}

/* tooltip */
.tooltip {
	background: #fff; position: absolute; width: 250px; @include br(4px); right: -14px; bottom: 100%;
	padding: 14px 20px; font-size: 12px; line-height: 16px; @include shad(0 8px 25px rgba(0,0,0,0.07));
	margin-bottom: 12px; @include anim(200ms); opacity: 0; visibility: hidden; z-index: 1000;
	&::after {
		@include bf; border: 5px solid transparent; border-top: 5px solid #fff;
		right: 16px; bottom: -10px;
	}
}




/* header */
.header {
	margin: 0 0 110px;
	.container {
		@include flex; height: 86px; align-items: center; justify-content: space-between;
		border-bottom: 1px solid rgba(255,255,255,0.15);
	}
	.logo img {display: block; width: 104px;}
	&_desc {
		@include flex; font-size: 13px; line-height: 18px; color: #fff; align-items: center;
		&_name {font-size: 20px; font-weight: 700; margin-right: 12px;}
		&_text {max-width: 240px;}
		&_mobile {background: rgba(255,255,255,0.15); padding: 14px 15px; display: none;}
		&_mobile &_text {max-width: none;}
	}
	&_buttons {
		@include flex; align-items: center;
		.btn {margin-right: 10px;}
		.btn:last-child {margin: 0;}
	}
}


/* firstcreen */
.firstcreen {
	background: url(../images/bg-header.jpg) center 0 no-repeat;
	background-size: cover; position: relative; overflow: hidden;
	&-container {@include flex; justify-content: space-between; padding-bottom: 220px; position: relative;}
	&_left {
		color: #fff; width: 50%; max-width: 600px; font-size: 19px; line-height: 24px;
		h1 {font-size: 59px; line-height: 62px; font-weight: 800; margin: 0 0 14px;}
		h3 {font-size: 35px; line-height: 42px; font-weight: 800; margin: 0 0 34px;}
		p {margin: 0 0 34px; &:last-child {margin: 0;} }
		&_footer {
			@include flex; align-items: center;
			.btn {margin-right: 48px;}
		}
	}
	&_right {position: absolute; right: 0; bottom: 90px;}
	&_price {
		font-size: 35px; line-break: 38px; font-weight: 800; margin-bottom: 8px;
		span {display: block; font-size: 15px; line-break: 16px; font-weight: 400; margin: 0 0 4px;}
	}
}


/* rangebox */
.rangebox {
	@include flex; margin: 0 0 24px;
	&_container {margin: 74px 0;}
	&:last-child {margin: 0;}
	&_name {
		min-width: 100px; max-width: 100px; margin: 0 35px 0 0; text-align: right; justify-content: flex-end;
		text-transform: uppercase; color: #91a0ad; font-size: 13px; font-weight: 700; line-height: 16px;
		padding-top: 2px;
	}
	&_line {width: 100%; padding-bottom: 27px;}
}

/* ion-range-slider */
.irs {
	display: block; position: relative; height: 23px; outline: none;
	&::before {@include bf; height: 3px; @include br(3px); background: #aebac4; width: 100%; left: 0; top: 10px;}
}
.irs-handle.single {
	@include br(50%); width: 23px; height: 23px; background: #273949; top: 0;
	@include shad(inset 0 0 0 6px $or); position: absolute; z-index: 10; cursor: pointer;
}
.irs-single {
	color: $or; font-size: 12px; line-height: 14px; white-space: nowrap; position: absolute;
	top: 27px;
}
.irs-bar {position: absolute; background: $or; left: 0; top: 10px; height: 3px;}
.irs-min, .irs-max {color: #91a0ad; font-size: 12px; line-height: 14px; position: absolute; top: 27px;}
.irs-min {left: 0;}
.irs-max {right: 0;}
.irs-hidden-input {visibility: hidden; opacity: 0; position: absolute;}



/* youcan */
.youcan {
	margin-top: -115px; position: relative; margin-bottom: 110px;
	.container {
		background: #fff; border-bottom: 2px solid $bl; @include br(15px); padding: 10px 50px;
		@include shad(0 15px 25px rgba(0,0,0,0.05)); @include flex; align-items: center; height: 230px;
	}
	&_title {
		font-size: 30px; font-weight: 800; line-height: 32px; min-width: 240px; max-width: 240px;
		margin: 0 20px 0 0;
		span {color: $bl; display: block;}
	}
	&_content {width: 100%;}
	&_box {@include flex; align-items: center; font-size: 14px; line-height: 18px;}
	&_icon {
		min-width: 80px; max-width: 80px; height: 80px; @include br(50%); background-size: 36px 36px;
		background-color: #f1f6fa; background-position: center center; background-repeat: no-repeat;
		margin-right: 20px;
		&.icon_profit {background-image: url(../images/svg/profit.svg);}
		&.icon_monitor {background-image: url(../images/svg/monitor.svg);}
		&.icon_pie {background-image: url(../images/svg/pie-chart.svg);}
	}
}

/* indicators */
.indicators {
	@include flex; margin: 0 0 82px;
	&_title {
		color: #fff; font-size: 35px; line-height: 44px; font-weight: 800; margin: 0 0 64px;
		span {color: $or; text-transform: uppercase;}
	}
	&_form {
		background: #fff; @include shad(0 15px 25px rgba(0,0,0,0.05)); @include br(15px); z-index: 100;
		padding: 48px 56px 56px; min-width: 440px; max-width: 440px; position: relative; top: -30px;
		.indicators_title {color: #000; margin: 0 0 28px; span {color: $bl;} }
		.btn {display: block; width: 100%;}
	}
	&_content {
		background: url(../images/bg-box.jpg) no-repeat; @include br(15px); width: 100%;
		background-size: cover; padding: 54px; padding-left: 118px; margin-left: -60px;
		ul {margin: 0 20px;}
		li {
			position: relative; font-size: 21px; line-height: 26px; padding-left: 20px;
			margin: 0 0 36px; color: #fff;
			&:last-child {margin: 0;}
			&::before {@include bf; @include br(5px); width: 5px; height: 5px; background: $or; left: 0; top: 11px;}
		}
	}
}

/* conditions */
.conditions {
	margin-bottom: 60px;
	.row {margin: 0 -1px;}
	[class*='grid-'] {padding: 0 1px; margin-bottom: 2px;}
}
.conditionbox {
	@include br(15px); min-height: 100%; text-align: center; padding: 50px 20px; display: block; color: inherit;
	font-size: 14px; line-height: 18px; position: relative; @include anim(200ms); text-decoration: none;
	img {display: block; height: 60px; margin: 0 auto 30px;}
	&_name {max-width: 165px; margin: 0 auto; display: block;}
	&::before {
		@include bf; height: 2px; width: 36px; bottom: 2px; left: 50%;
		background: $bl; margin-left: -18px; @include anim(200ms); transform: scaleX(0);
	}
	&:hover {
		background: #fff; @include shad(0 15px 25px rgba(0,0,0,0.05));
		&::before {transform: scaleX(1);}
	}
	&_icon {width: 68px; height: 65px; background-position: center center; background-repeat: no-repeat; margin: 0 auto 25px;}
	&_icon.icn1 {background-image: url(../images/icons/ztrade_lp_icon-1-blue.svg);}
	&:hover &_icon.icn1 {background-image: url(../images/icons/ztrade_lp_icon-1-yellow.svg);}
	&_icon.icn2 {background-image: url(../images/icons/ztrade_lp_icon-2-blue.svg);}
	&:hover &_icon.icn2 {background-image: url(../images/icons/ztrade_lp_icon-2-yellow.svg);}
	&_icon.icn3 {background-image: url(../images/icons/ztrade_lp_icon-3-blue.svg);}
	&:hover &_icon.icn3 {background-image: url(../images/icons/ztrade_lp_icon-3-yellow.svg);}
	&_icon.icn4 {background-image: url(../images/icons/ztrade_lp_icon-4-blue.svg);}
	&:hover &_icon.icn4 {background-image: url(../images/icons/ztrade_lp_icon-4-yellow.svg);}
	&_icon.icn5 {background-image: url(../images/icons/ztrade_lp_icon-5-blue.svg);}
	&:hover &_icon.icn5 {background-image: url(../images/icons/ztrade_lp_icon-5-yellow.svg);}
	&_icon.icn6 {background-image: url(../images/icons/ztrade_lp_icon-6-blue.svg);}
	&:hover &_icon.icn6 {background-image: url(../images/icons/ztrade_lp_icon-6-yellow.svg);}
	&_icon.icn7 {background-image: url(../images/icons/ztrade_lp_icon-7-blue.svg);}
	&:hover &_icon.icn7 {background-image: url(../images/icons/ztrade_lp_icon-7-yellow.svg);}
	&_icon.icn8 {background-image: url(../images/icons/ztrade_lp_icon-8-blue.svg);}
	&:hover &_icon.icn8 {background-image: url(../images/icons/ztrade_lp_icon-8-yellow.svg);}
}
.pagetitle {
	font-size: 35px; line-height: 40px; font-weight: 800; margin: 0 0 36px; text-align: center;
	span {color: $bl; display: block;}
}


/* rent */
.rent {
	background: url(../images/bg-phone.jpg) center 0 no-repeat; background-size: cover;
	@include br(15px); padding: 48px 0 58px 58px; margin: 0 0 90px; color: #fff; position: relative;
	.pagetitle {color: #fff; text-align: left; margin: 0 0 28px;}
	.pagetitle span {color: $or;}
	.pagetitle2 {font-size: 24px; line-height: 30px; margin: 0 0 34px;}
	&_row {margin-right: 426px;}
	.row {margin: 0 0 0 -1px;}
	[class*='grid-'] {padding: 0 0 0 1px;}
	&_step {
		background: $bl; @include br(10px); min-height: 100%; @include flex; flex-wrap: wrap;
		align-content: space-between; padding: 10px; font-size: 13px; line-height: 18px;
		.btn {background: #366a94; display: block; width: 100%;}
		.btn:hover {background: $or; color: #000;}
		&_text {padding: 16px 16px 0; margin: 0 0 30px; width: 100%;}
		p:last-child {margin: 0;}
		&_num {font-size: 48px; line-height: 52px; font-weight: 700; margin: 0 0 18px;}
		&_name {font-size: 14px; font-weight: 700; margin: 0 0 18px;}
	}
	&_phone {
		position: absolute; right: 0; bottom: 0;
		&.mob {display: none;}
	}
}


/* bottom_description */
.bottom_description {
	@include flex; align-items: center;
	&_logos {
		min-width: 180px; max-width: 180px; margin-right: 20px; color: #becbd6; font-size: 13px; line-break: 18px;
		img {opacity: 0.3; @include anim(200ms); display: block; margin: 0 0 30px; filter: grayscale(1);}
		img:last-child {margin: 0;}
		img:hover {opacity: 1; filter: grayscale(0);}
	}
	&_entry {
		border: 1px solid #d7e7f4; @include br(15px); padding: 36px 42px;
		color: #325862; font-size: 13px; line-height: 18px; width: 100%;
		.showlink {display: none; margin: 10px 0 0;}
		.showlink a {text-decoration: none;}
		.showlink a:hover {text-decoration: underline;}
		.short_text {transition: height 200ms linear; overflow: hidden;}
	}
	&_brands {
		@include flex; width: 100%; align-items: center; justify-content: space-between;
		img {opacity: 0.3; @include anim(200ms); display: block; height: 22px; filter: grayscale(1);}
		img:last-child {margin: 0;}
		img:hover {opacity: 1; filter: grayscale(0);}
	}
}

/* footer */
.footer {padding: 48px 0;}


/* modal */
.fancybox-content {background: 0; padding: 0;}
.modal {
	max-width: 1200px; width: 100%; padding-top: 42px; position: relative; display: none;
	&_close {
		display: block; width: 22px; height: 22px; background: url(../images/svg/close.svg) no-repeat;
		background-size: cover; position: absolute; right: 0; top: 0;
	}
	&_inner {
		background: #fff; @include br(15px); text-align: center; overflow: hidden;
		font-size: 14px; line-height: 20px; padding: 50px; position: relative;
		a {text-decoration: none;}
		a:hover {text-decoration: underline;}
	}
	&_title {
		font-size: 35px; font-weight: 800; line-height: 39px; margin: 0 0 54px;
		span {color: $bl;}
	}
	&_text {
		max-width: 700px; margin: 0 auto 35px;
		&:last-child, p:last-child {margin-bottom: 0;}
		&.bottom {text-align: left; max-width: none; margin: 0 420px 0 0; font-size: 13px; line-height: 17px;}
	}
	&_quote {
		border: 2px solid $or; margin: 50px auto; font-size: 15px;
		line-height: 20px; font-weight: 700; text-align: center;
		padding: 50px 24px; max-width: 590px; @include br(3px);
	}
}
#modal1 {
	.modal_inner {
		padding: 50px 190px;
		&::before, &::after {
			@include bf; bottom: 0; width: 238px; height: 100%; left: 0; bottom: 0;
			background: url(../images/robot2.png) 0 bottom no-repeat;
			background-size: 238px;
		}
		&::after {transform: matrix(-1,0,0,1,0,0); left: auto; right: 0;}
	}
}
#modal2 .modal_inner {background: #fff url(../images/robot-hand.png) 0 bottom no-repeat; padding-bottom: 145px;}
#modal3 .modal_inner {background: #fff url(../images/robot3.jpg) right bottom no-repeat;}
#modal3 .modalform {margin-bottom: 10px;}


/* modalform */
.modalform {
	background: #f1f6fa; @include br(4px); padding: 30px; margin: 40px 0;
}

/* border_text */
.border_text {
	text-align: left; margin-bottom: 40px;
	&_box {
		background-color: #fff; border: 1px solid #d7e7f4; @include br(4px); padding: 34px 40px; min-height: 100%;
		color: #325862; font-size: 13px; line-height: 17px; display: block;
		&.link_tme {
			background-color: 0 !important; font-size: 12px; line-height: 16px; color: $bl; text-align: center; padding: 20px;
			@include flex; align-items: center; justify-content: center;
			span::before {
				content: ''; display: block; background: url(../images/svg/telegram.svg) no-repeat;
				width: 37px; height: 31px; background-size: cover; margin: 0 auto 20px;
			}
		}
	}
}
