
<meta charset="utf-8">
<body style="background: #f1f6fa;">
	
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center" bgcolor="#f1f6fa">
	<tr>
		<td style="padding: 0;">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="border-bottom: 3px solid #488dc6; height: 74px;">
				<tr>
					<td style="padding-left: 10px; padding-right: 20px;"><img src="images/logofooter.png" alt=""></td>
					<td style="color: #a6acb3; font-size: 12px; font-family: Arial; line-height: 16px;"><b style="color: #f4b212;">16</b> лет опыт в торговле<br> Более <b style="color: #f4b212;">3 000</b> пользователей</td>
					<td style="padding-right: 10px; color: #325862; font-size: 15px; font-family: Arial; text-align: right;">Сервис профессионального трейдинга</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td style="padding: 30px 0;">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff">
				<tr>
					<td style="border-bottom: 1px solid #f1f6fa; padding: 24px 30px 30px; color: #292a2b; font-size: 14px; line-height: 18px; font-family: Arial;">
						
						<p style="margin: 0 0 18px;">Здравствуйте, <b>Максим Серков</b>.</p>
						<p style="margin: 0 0 18px;">Вы успешно зарегистрировали Личный кабинет с номером: ID <b style="color: #f4b212;">26587</b></p>
						<p style="margin: 0 0 18px;">В личном кабинете Вы можете:</p>
						<ul style="margin: 0 0 22px; padding: 0 10px;">
							<li style="list-style: disc inside; margin: 0 0 4px;">Торговать по сигналам успешных трейдеров</li>
							<li style="list-style: disc inside; margin: 0 0 4px;">Обучится профессиональному трейдингу</li>
							<li style="list-style: disc inside; margin: 0 0 4px;">Исползовать профессиональные инструменты</li>
							<li style="list-style: disc inside; margin: 0;">Зарабатывать на уникальной партнерской программе</li>
							</ul>

						<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f1f6fa" style="margin: 0 0 24px;">
							<tr>
								<td style="padding: 24px 30px 20px;">
									<p style="font-size: 14px; line-height: 18px; margin: 0 0 16px;">Для авторизации в Личном кабинете, пожалуйста, используйте Ваш</p>
									<p style="font-size: 16px; margin: 0 0 16px;"><b>ID: <font color="#f4b212">26587</font> и пароль, установленный Вами в процессе регистрации</b></p>
									<p style="font-size: 13px; line-height: 14px; margin: 0;"><a href="#" style="color: #488dc6;">Забыли пароль?</a></p>
								</td>
							</tr>
						</table>

						<p style="margin: 0 0 10px;">Вход в Личный кабинет доступен по ссылке:</p>

						<table cellpadding="0" cellspacing="0" border="0" style="margin: 0;">
							<tr>
								<td height="36" style="border: 1px solid #488dc6; font-size: 13px; line-height: 36px; padding: 0 24px;">
									<a href="#" style="color: #488dc6; text-decoration: none; display: block;">Войти в Личный кабинет</a>
								</td>
							</tr>
						</table>

					</td>
				</tr>
				<tr>
					<td style="color: #a6acb3; font-size: 13px; line-height: 16px; font-family: Arial; padding: 24px 30px;">
						С уважением,<br>
						<font color="#f4b212"><b>ZTrade</b></font> innovation<br>
						<a href="#" style="color: #488dc6; text-decoration: none;">office@ztrade.ru</a><br>
						<a href="#" style="color: #488dc6; text-decoration: none;">www.ztrade.ru</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td bgcolor="#325862" style="border-top: 3px solid #f4b212; text-align: center; font-family: Arial; color: #f4b212; padding: 12px; font-size: 13px; line-height: 14px;">
			<p style="margin: 0 0 6px;">Инвесторам: <a href="mailto:invest@ztrade.ru" style="color: #ffffff; text-decoration: none;">invest@ztrade.ru</a></p>
			<p style="margin: 0 0 6px;">Общие вопросы: <a href="mailto:office@ztrade.ru" style="color: #ffffff; text-decoration: none;">office@ztrade.ru</a></p>
			<p style="margin: 0;">Сотрудничество: <a href="mailto:partner@ztrade.ru" style="color: #ffffff; text-decoration: none;">partner@ztrade.ru</a></p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0;">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="height: 74px;">
				<tr>
					<td style="padding-left: 10px; padding-right: 20px;"><img src="images/logofooter.png" alt=""></td>
					<td style="padding-right: 10px; color: #325862; font-size: 15px; font-family: Arial; text-align: right;">Торгуйте Уверенно на финансовых рынках</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


</body>