/* Settings */
/* Medium */
@media screen and (max-width: 1240px) {
  .container {
    width: 992px;
  }

  .md-visible {
    display: block !important;
  }

  .md-hidden {
    display: none !important;
  }

  .md6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* youcan */
  .youcan .container {
    flex-wrap: wrap;
    align-content: center;
  }

  .youcan_title {
    margin: 0 0 20px;
    text-align: center;
    min-width: 0;
    max-width: none;
    width: 100%;
  }

  .youcan_title span {
    display: inline;
  }

  /* indicators */
  .indicators {
    margin: 0 0 60px;
  }
  .indicators_title {
    font-size: 30px;
    line-break: 34px;
  }
  .indicators_form {
    padding: 40px;
    min-width: 380px;
    max-width: 380px;
  }
  .indicators_content {
    padding: 40px;
    padding-left: 110px;
  }

  /* rent */
  .rent {
    padding: 40px;
    margin: 0 0 60px;
  }
  .rent_row {
    margin-right: 380px;
  }
  .rent_phone {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .rent_step {
    display: block;
    min-height: auto;
    display: block;
  }
  .rent_step_text {
    display: flex;
    display: -ms-flexbox;
    margin: 0 0 20px;
  }
  .rent_step_num {
    margin: 0 20px 0 0;
  }
  .rent_row .row {
    margin: 0;
  }
  .rent_row .grid-4 {
    padding: 0;
    margin-bottom: 1px;
  }

  /* bottom_description */
  .bottom_description_entry {
    padding: 30px;
  }

  .bottom_description_brands img {
    height: 18px;
  }

  /* modal */
  #modal3 .modalform .btn {
    max-width: 240px;
    margin: 0 auto;
    display: block;
  }

  #modal3 .modalform .input-field {
    margin: 0 0 14px;
  }

  #modal3 .grid-20:last-child .input-field {
    margin: 0;
  }
}
/* End Medium */
/* Tablet */
@media screen and (max-width: 1020px) {
  .container {
    width: 720px;
  }

  .tb-visible {
    display: block !important;
  }

  .tb-hidden {
    display: none !important;
  }

  .tb6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .tb12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* header */
  .header {
    margin: 0 0 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .header .container {
    border: 0;
    height: 86px;
  }

  .header_desc {
    font-size: 11px;
    line-height: 14px;
  }

  .header_desc_text {
    max-width: 136px;
  }

  /* firstcreen */
  .firstcreen-container {
    padding-bottom: 100px;
    display: block;
  }
  .firstcreen_left {
    width: 100%;
    max-width: 510px;
    position: relative;
    z-index: 100;
    font-size: 18px;
    line-height: 22px;
  }
  .firstcreen_left h1 {
    font-size: 50px;
    line-height: 54px;
  }
  .firstcreen_left h3 {
    font-size: 27px;
    line-height: 32px;
  }
  .firstcreen_right {
    right: -210px;
    bottom: -10px;
    width: 480px;
  }

  /* youcan */
  .youcan {
    margin-bottom: 100px;
    margin-top: 0;
    background: #fff;
    border-bottom: 2px solid #008eca;
    padding: 40px 0;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  }
  .youcan .container {
    height: auto;
    background: 0;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
  }
  .youcan_box {
    font-size: 13px;
    line-height: 16px;
  }
  .youcan_icon {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    margin-right: 14px;
  }

  /* indicators */
  .indicators_title {
    font-size: 30px;
    line-height: 34px;
  }
  .indicators_form {
    padding: 30px;
    min-width: 320px;
    max-width: 320px;
  }
  .indicators_form .indicators_title {
    font-size: 27px;
    line-break: 31px;
  }
  .indicators_content {
    padding: 30px;
    padding-left: 100px;
    font-size: 17px;
    line-height: 21px;
  }
  .indicators_content li {
    font-size: 17px;
    line-height: 21px;
    margin: 0 0 25px;
  }

  /* conditions */
  .conditionbox {
    padding: 30px 10px;
  }

  .conditionbox img {
    margin-bottom: 24px;
  }

  .pagetitle {
    font-size: 27px;
    line-height: 31px;
  }

  /* rent */
  .rent {
    padding: 34px 38px 38px;
    margin: 0 0 60px;
    overflow: hidden;
  }
  .rent .pagetitle2 {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 30px;
  }
  .rent_row {
    margin-right: 300px;
  }
  .rent_phone {
    width: 400px;
    right: -10px;
  }
  .rent_step {
    font-size: 11px;
    line-height: 14px;
  }
  .rent_step_text {
    padding: 5px 10px 0;
    margin: 0 0 14px;
  }
  .rent_step_num {
    font-size: 31px;
    line-height: 32px;
  }
  .rent_step_name {
    margin: 0 0 10px;
  }

  /* bottom_description */
  .bottom_description {
    display: block;
  }
  .bottom_description_logos {
    min-width: 0;
    max-width: none;
    margin: 0 0 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom_description_logos img {
    margin: 0 50px 0 0;
  }
  .bottom_description_entry {
    padding: 24px 28px;
  }

  /* footer */
  .footer {
    padding: 40px 0;
  }

  .footer img {
    height: 16px;
  }

  /* Modals */
  .modal {
    max-width: 720px;
  }

  .modal_inner {
    padding: 40px;
  }

  .modal_title {
    font-size: 27px;
    line-height: 32px;
    margin: 0 0 30px;
  }

  .modal_quote {
    max-width: 386px;
    padding: 30px 20px;
    font-size: 15px;
    line-height: 20px;
    margin: 30px auto;
  }

  .modal_text.bottom {
    margin-right: 288px;
  }

  #modal1 .modal_inner {
    padding: 30px 140px;
  }
  #modal1 .modal_inner::before, #modal1 .modal_inner::after {
    width: 210px;
    background-size: 210px;
  }
  #modal1 .modal_inner::before {
    left: -80px;
  }
  #modal1 .modal_inner::after {
    left: auto;
    right: -80px;
  }

  #modal2 .modal_inner {
    background-position: -244px bottom;
  }

  #modal2 .modalform .input-field {
    margin: 0 0 14px;
  }

  .modalform {
    padding: 30px;
  }

  #modal2 .modalform .btn {
    max-width: 240px;
    margin: 0 auto;
    display: block;
  }

  .border_text {
    margin-bottom: 30px;
    display: block;
  }

  .border_text_box {
    padding: 24px 28px;
    margin: 0 0 30px;
  }

  .border_text_box.link_tme {
    margin: 0;
    display: block;
    border: 0;
    padding: 0;
    text-align: left;
    background: none;
  }
  .border_text_box.link_tme span {
    position: relative;
    padding-left: 28px;
  }
  .border_text_box.link_tme span::before {
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 20px;
    height: 16px;
  }
}
/* End Tablet */
/* Small */
@media screen and (max-width: 750px) {
  html {
    -webkit-text-size-adjust: none;
  }

  .container {
    margin: 0 15px;
    width: auto;
  }

  .sm-visible {
    display: block !important;
  }

  .sm-hidden {
    display: none !important;
  }

  .sm6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sm12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .btn {
    font-size: 13px;
    line-height: 18px;
    padding: 11px 16px;
  }

  .btn-large {
    font-size: 18px;
    line-height: 22px;
    padding: 17px 24px;
  }

  input.btn, button.btn {
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }

  input.btn.btn-large, button.btn-large {
    height: 56px;
    line-height: 56px;
    padding-top: 0;
    padding-bottom: 0;
  }

  /* header */
  .header {
    border: 0;
    margin: 0 0 25px;
  }
  .header .container {
    height: auto;
    padding: 10px 0;
  }
  .header_desc_mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  /* firstcreen */
  .firstcreen-container {
    display: block;
    padding-bottom: 20px;
  }
  .firstcreen_left {
    width: 100%;
    max-width: none;
    position: relative;
    z-index: 100;
    font-size: 15px;
    line-height: 19px;
  }
  .firstcreen_left h1 {
    font-size: 35px;
    line-height: 38px;
    margin: 0 0 20px;
  }
  .firstcreen_left h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px;
  }
  .firstcreen_text {
    max-width: 250px;
    margin: 0 0 20px;
  }
  .firstcreen_right {
    right: -230px;
  }
  .firstcreen_left_footer {
    display: block;
  }
  .firstcreen_left_footer .btn {
    display: block;
    margin: 0 0 20px;
  }
  .firstcreen_price {
    font-size: 25px;
    line-height: 28px;
  }
  .firstcreen_price span {
    font-size: 13px;
    line-height: 16px;
  }

  /* rangebox */
  .rangebox {
    background: -moz-linear-gradient(left, rgba(30, 35, 39, 0.85) 0%, rgba(44, 87, 123, 0.85) 100%);
    background: -webkit-linear-gradient(left, rgba(30, 35, 39, 0.85) 0%, rgba(44, 87, 123, 0.85) 100%);
    background: linear-gradient(to right, rgba(30, 35, 39, 0.85) 0%, rgba(44, 87, 123, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91e2327', endColorstr='#d92c577b',GradientType=1 );
    display: block;
    padding: 12px 16px;
    margin: 0 0 10px;
  }
  .rangebox_name {
    min-width: 0;
    max-width: none;
    margin: 0 0 15px;
    text-align: left;
    padding: 0;
  }
  .rangebox_container {
    margin: 0 0 10px;
  }

  /* youcan */
  .youcan {
    margin-bottom: 30px;
    padding: 20px 0 10px;
  }
  .youcan_box {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 10px;
  }
  .youcan_icon {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    margin-right: 14px;
  }
  .youcan_title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px;
  }
  .youcan_title span {
    display: block;
  }
  .youcan_icon {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    background-size: 26px 26px;
  }

  /* indicators */
  .indicators {
    display: block;
    margin: 0 0 30px;
  }
  .indicators_form {
    top: auto;
    margin-right: 20px;
  }
  .indicators_content {
    position: relative;
    margin: -240px 0 0 20px;
    width: auto;
    padding: 260px 20px 20px;
  }
  .indicators_content ul {
    margin: 0 0 0 10px;
  }
  .indicators_content li {
    margin: 0 0 14px;
    font-size: 15px;
    line-height: 19px;
  }
  .indicators_content li b {
    display: block;
  }
  .indicators_form .indicators_title, .indicators_title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;
  }

  .pagetitle {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;
  }

  /* conditions */
  .conditions {
    margin-bottom: 20px;
  }

  .conditionbox {
    padding: 20px;
    font-size: 13px;
    line-height: 16px;
  }

  .conditionbox img {
    height: 40px;
    margin-bottom: 14px;
  }

  .conditionbox_icon {
    background-size: 40px 40px;
    width: 58px;
    height: 40px;
    margin-bottom: 10px;
  }

  /* rent */
  .rent {
    display: block;
    padding: 25px 25px 310px;
    margin: 0 0 25px;
  }
  .rent .pagetitle {
    margin: 0 0 20px;
  }
  .rent .pagetitle2 {
    font-size: 15px;
    line-height: 19px;
    margin: 0 0 20px;
  }
  .rent_row {
    margin: 0;
  }
  .rent_phone {
    width: auto;
    height: 285px;
    right: 0;
    bottom: 0;
    display: none;
  }
  .rent_phone.mob {
    display: block;
  }

  /* bottom_description */
  .bottom_description {
    margin: 0 0 30px;
  }
  .bottom_description_logos {
    justify-content: space-between;
    margin: 0 0 25px;
  }
  .bottom_description_logos img {
    height: 30px;
    margin: 0;
  }
  .bottom_description_entry {
    padding: 22px 26px;
    font-size: 13px;
    line-height: 16px;
  }
  .bottom_description_entry .showlink {
    display: block;
  }
  .bottom_description_entry .short_text {
    overflow: hidden;
    transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    height: 194px;
  }
  .bottom_description_brands {
    display: block;
    text-align: center;
  }
  .bottom_description_brands img {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 15px 0;
  }

  /* footer */
  .footer {
    padding: 0 0 25px;
  }

  .footer .bottom_description {
    display: block;
    margin: 0;
  }

  .footer .bottom_description_logos {
    display: block;
    margin: 0;
    text-align: center;
  }

  /* Modals */
  .modal_inner {
    padding: 20px 10px;
    font-size: 13px;
    line-height: 17px;
  }

  .modal_title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;
  }

  .modal_quote {
    max-width: none;
    padding: 20px;
    font-size: 13px;
    line-height: 17px;
    margin: 20px 0;
  }

  .modal_text {
    margin: 0 20px 20px;
  }

  .modal_text.bottom {
    margin: 0;
    text-align: center;
  }

  #modal1 .modal_inner {
    padding: 20px 10px 178px;
  }
  #modal1 .modal_inner::before {
    content: none;
    display: none;
  }
  #modal1 .modal_inner::after {
    background: url(../images/mobile_robot1.png) center bottom no-repeat;
    width: 100%;
    height: 162px;
    left: 0;
    bottom: 0;
    right: auto;
  }

  #modal2 .modal_inner {
    background-position: -150px bottom;
    padding-bottom: 78px;
    background-size: 360px;
  }

  .modalform {
    padding: 20px;
  }

  #modal2 .modalform .btn {
    max-width: none;
    margin: 0;
  }

  #modal2 .modalform .input-field {
    margin: 0 0 14px;
  }

  #modal3 .modal_inner {
    background-size: 352px;
    padding-bottom: 150px;
  }

  .border_text {
    margin-bottom: 20px;
  }

  .border_text_box {
    padding: 18px 20px;
    margin: 0 0 20px;
  }

  .border_text_box.link_tme {
    text-align: center;
  }
}
/* End Small */
