@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Settings */
/* === Reset === */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: #f1f6fa;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  margin: 0;
}

main {
  display: block;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

b {
  font-weight: 700;
}

a, input, textarea {
  outline: none;
}

a {
  color: #008eca;
}

a:hover {
  text-decoration: none;
}

th {
  font-weight: normal;
  text-align: left;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
}

/* === Responsive grid === */
.container {
  margin: 0 auto;
  width: 1200px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

[class*='grid'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.grid-20 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.grid-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.grid-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.grid-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.grid-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.grid-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.grid-80 {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sm-visible, .tb-visible {
  display: none;
}

/* === FORMS === */
.input, .btn {
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

.input {
  background: #fafcfd;
  border: 1px solid #d7e7f4;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px 18px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  height: 46px;
}
.input:focus {
  border-color: #008eca;
}

/* === Button === */
.btn {
  background: #008eca;
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 13px 24px;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
}
.btn:hover {
  background: #006fa1;
}
.btn-white {
  background: #fff;
  color: #008eca;
}
.btn-white:hover {
  background: #dcdcdc;
}
.btn-orange {
  background: #ffb200;
  color: #000;
}
.btn-orange:hover {
  background: #c18700;
}
.btn-large {
  font-size: 22px;
  line-break: 26px;
  padding: 18px 40px 20px;
}

input.btn, button.btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 46px;
  line-height: 46px;
}

input.btn-large, button.btn-large {
  padding-top: 0;
  padding-bottom: 0;
  height: 64px;
  line-height: 64px;
}

/* === Radio / Checkbox === */
input[type='radio'], input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  border: 1px solid #d7e7f4;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  width: 20px;
  height: 20px;
}

input[type='checkbox'] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fafcfd url(../images/svg/correct.svg) -9999px -9999px no-repeat;
  background-size: 10px 10px;
}
input[type='checkbox']:checked {
  background-position: center center;
}

/* === Select === */
.jq-selectbox {
  display: block;
  margin: 0;
}
.jq-selectbox__select {
  background: #fafcfd;
  border: 1px solid #d7e7f4;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: none;
  height: 46px;
  color: #000;
  padding: 0 18px 0 18px;
  font-size: 14px;
  line-height: 44px;
  cursor: pointer;
  position: relative;
}
.jq-selectbox.focused .jq-selectbox__select {
  border-color: #008eca;
}
.jq-selectbox__trigger {
  border: 0;
  background: url(../images/svg/arrow.svg) no-repeat;
  background-size: 8px 8px;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  transform: rotate(90deg);
}
.jq-selectbox__dropdown {
  background: #fff;
  border: 1px solid #d7e7f4;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: 2px;
  width: 100%;
  top: 47px;
}
.jq-selectbox__dropdown ul {
  padding: 2px;
}
.jq-selectbox__dropdown li {
  cursor: pointer;
  padding: 8px 16px 8px 18px;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}
.jq-selectbox__dropdown li:hover {
  background-color: #fafcfd;
}

.select_code .jq-selectbox__select {
  padding-left: 32px;
}
.select_code .jq-selectbox__dropdown li {
  padding-left: 32px;
}
.select_code .jq-selectbox__select, .select_code .jq-selectbox__dropdown li {
  background-position: 10px center;
  background-size: 19px 13px;
  background-repeat: no-repeat;
}
.select_code.rus .jq-selectbox__select, .select_code .jq-selectbox__dropdown li.rus {
  background-image: url(../images/flags/russia.svg);
}
.select_code.ukr .jq-selectbox__select, .select_code .jq-selectbox__dropdown li.ukr {
  background-image: url(../images/flags/ukraine.svg);
}
.select_code.usa .jq-selectbox__select, .select_code .jq-selectbox__dropdown li.usa {
  background-image: url(../images/flags/usa.svg);
}

/* === Fields === */
.check-field {
  position: relative;
  padding-left: 34px;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  color: #becbd6;
  font-weight: 400;
}
.check-field input[type='radio'], .check-field input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: 0;
}
.check-field a {
  text-decoration: none;
}
.check-field a:hover {
  text-decoration: underline;
}

.input-wrapper {
  position: relative;
}

.input-field {
  display: block;
  margin: 0 0 10px;
  text-align: left;
}
.input-field-text {
  color: #becbd6;
  font-size: 12px;
  line-height: 14px;
  margin: 10px 0 0;
}
.input-field label {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 10px;
  font-weight: 700;
  min-height: 16px;
}
.input-field label.check-field {
  font-weight: 400;
}
.input-field:last-child {
  margin: 0;
}
.input-field .input {
  width: 100%;
}
.input-field select, .input-field .jq-selectbox {
  width: 100%;
}
.input-field .btn {
  width: 100%;
}

/* phone_field */
.phone_field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.phone_field .input {
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}
.phone_field .jq-selectbox {
  min-width: 90px;
  max-width: 90px;
}
.phone_field .jq-selectbox__select {
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-right: 0;
}

/* icon_quest */
.icon_quest {
  background: url(../images/svg/question.svg) center center no-repeat;
  background-size: 14px 14px;
  opacity: 0.35;
  width: 34px;
  height: 36px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.icon_quest:hover {
  opacity: 1;
}
.icon_quest:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.input-wrapper .icon_quest {
  position: absolute;
  right: 5px;
  top: 5px;
}
.input-wrapper .icon_quest .input {
  padding-right: 40px;
}

/* tooltip */
.tooltip {
  background: #fff;
  position: absolute;
  width: 250px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  right: -14px;
  bottom: 100%;
  padding: 14px 20px;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  margin-bottom: 12px;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.tooltip::after {
  content: '';
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  right: 16px;
  bottom: -10px;
}

/* header */
.header {
  margin: 0 0 110px;
}
.header .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 86px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.header .logo img {
  display: block;
  width: 104px;
}
.header_desc {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  align-items: center;
}
.header_desc_name {
  font-size: 20px;
  font-weight: 700;
  margin-right: 12px;
}
.header_desc_text {
  max-width: 240px;
}
.header_desc_mobile {
  background: rgba(255, 255, 255, 0.15);
  padding: 14px 15px;
  display: none;
}
.header_desc_mobile .header_desc_text {
  max-width: none;
}
.header_buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.header_buttons .btn {
  margin-right: 10px;
}
.header_buttons .btn:last-child {
  margin: 0;
}

/* firstcreen */
.firstcreen {
  background: url(../images/bg-header.jpg) center 0 no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.firstcreen-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-bottom: 220px;
  position: relative;
}
.firstcreen_left {
  color: #fff;
  width: 50%;
  max-width: 600px;
  font-size: 19px;
  line-height: 24px;
}
.firstcreen_left h1 {
  font-size: 59px;
  line-height: 62px;
  font-weight: 800;
  margin: 0 0 14px;
}
.firstcreen_left h3 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 800;
  margin: 0 0 34px;
}
.firstcreen_left p {
  margin: 0 0 34px;
}
.firstcreen_left p:last-child {
  margin: 0;
}
.firstcreen_left_footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.firstcreen_left_footer .btn {
  margin-right: 48px;
}
.firstcreen_right {
  position: absolute;
  right: 0;
  bottom: 90px;
}
.firstcreen_price {
  font-size: 35px;
  line-break: 38px;
  font-weight: 800;
  margin-bottom: 8px;
}
.firstcreen_price span {
  display: block;
  font-size: 15px;
  line-break: 16px;
  font-weight: 400;
  margin: 0 0 4px;
}

/* rangebox */
.rangebox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 24px;
}
.rangebox_container {
  margin: 74px 0;
}
.rangebox:last-child {
  margin: 0;
}
.rangebox_name {
  min-width: 100px;
  max-width: 100px;
  margin: 0 35px 0 0;
  text-align: right;
  justify-content: flex-end;
  text-transform: uppercase;
  color: #91a0ad;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 2px;
}
.rangebox_line {
  width: 100%;
  padding-bottom: 27px;
}

/* ion-range-slider */
.irs {
  display: block;
  position: relative;
  height: 23px;
  outline: none;
}
.irs::before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #aebac4;
  width: 100%;
  left: 0;
  top: 10px;
}

.irs-handle.single {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 23px;
  height: 23px;
  background: #273949;
  top: 0;
  -webkit-box-shadow: inset 0 0 0 6px #ffb200;
  -moz-box-shadow: inset 0 0 0 6px #ffb200;
  box-shadow: inset 0 0 0 6px #ffb200;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.irs-single {
  color: #ffb200;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  position: absolute;
  top: 27px;
}

.irs-bar {
  position: absolute;
  background: #ffb200;
  left: 0;
  top: 10px;
  height: 3px;
}

.irs-min, .irs-max {
  color: #91a0ad;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  top: 27px;
}

.irs-min {
  left: 0;
}

.irs-max {
  right: 0;
}

.irs-hidden-input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

/* youcan */
.youcan {
  margin-top: -115px;
  position: relative;
  margin-bottom: 110px;
}
.youcan .container {
  background: #fff;
  border-bottom: 2px solid #008eca;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 10px 50px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 230px;
}
.youcan_title {
  font-size: 30px;
  font-weight: 800;
  line-height: 32px;
  min-width: 240px;
  max-width: 240px;
  margin: 0 20px 0 0;
}
.youcan_title span {
  color: #008eca;
  display: block;
}
.youcan_content {
  width: 100%;
}
.youcan_box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
}
.youcan_icon {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-size: 36px 36px;
  background-color: #f1f6fa;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.youcan_icon.icon_profit {
  background-image: url(../images/svg/profit.svg);
}
.youcan_icon.icon_monitor {
  background-image: url(../images/svg/monitor.svg);
}
.youcan_icon.icon_pie {
  background-image: url(../images/svg/pie-chart.svg);
}

/* indicators */
.indicators {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 82px;
}
.indicators_title {
  color: #fff;
  font-size: 35px;
  line-height: 44px;
  font-weight: 800;
  margin: 0 0 64px;
}
.indicators_title span {
  color: #ffb200;
  text-transform: uppercase;
}
.indicators_form {
  background: #fff;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  z-index: 100;
  padding: 48px 56px 56px;
  min-width: 440px;
  max-width: 440px;
  position: relative;
  top: -30px;
}
.indicators_form .indicators_title {
  color: #000;
  margin: 0 0 28px;
}
.indicators_form .indicators_title span {
  color: #008eca;
}
.indicators_form .btn {
  display: block;
  width: 100%;
}
.indicators_content {
  background: url(../images/bg-box.jpg) no-repeat;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 100%;
  background-size: cover;
  padding: 54px;
  padding-left: 118px;
  margin-left: -60px;
}
.indicators_content ul {
  margin: 0 20px;
}
.indicators_content li {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  padding-left: 20px;
  margin: 0 0 36px;
  color: #fff;
}
.indicators_content li:last-child {
  margin: 0;
}
.indicators_content li::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 5px;
  height: 5px;
  background: #ffb200;
  left: 0;
  top: 11px;
}

/* conditions */
.conditions {
  margin-bottom: 60px;
}
.conditions .row {
  margin: 0 -1px;
}
.conditions [class*='grid-'] {
  padding: 0 1px;
  margin-bottom: 2px;
}

.conditionbox {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  min-height: 100%;
  text-align: center;
  padding: 50px 20px;
  display: block;
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  text-decoration: none;
}
.conditionbox img {
  display: block;
  height: 60px;
  margin: 0 auto 30px;
}
.conditionbox_name {
  max-width: 165px;
  margin: 0 auto;
  display: block;
}
.conditionbox::before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 36px;
  bottom: 2px;
  left: 50%;
  background: #008eca;
  margin-left: -18px;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  transform: scaleX(0);
}
.conditionbox:hover {
  background: #fff;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
}
.conditionbox:hover::before {
  transform: scaleX(1);
}
.conditionbox_icon {
  width: 68px;
  height: 65px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto 25px;
}
.conditionbox_icon.icn1 {
  background-image: url(../images/icons/ztrade_lp_icon-1-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn1 {
  background-image: url(../images/icons/ztrade_lp_icon-1-yellow.svg);
}
.conditionbox_icon.icn2 {
  background-image: url(../images/icons/ztrade_lp_icon-2-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn2 {
  background-image: url(../images/icons/ztrade_lp_icon-2-yellow.svg);
}
.conditionbox_icon.icn3 {
  background-image: url(../images/icons/ztrade_lp_icon-3-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn3 {
  background-image: url(../images/icons/ztrade_lp_icon-3-yellow.svg);
}
.conditionbox_icon.icn4 {
  background-image: url(../images/icons/ztrade_lp_icon-4-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn4 {
  background-image: url(../images/icons/ztrade_lp_icon-4-yellow.svg);
}
.conditionbox_icon.icn5 {
  background-image: url(../images/icons/ztrade_lp_icon-5-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn5 {
  background-image: url(../images/icons/ztrade_lp_icon-5-yellow.svg);
}
.conditionbox_icon.icn6 {
  background-image: url(../images/icons/ztrade_lp_icon-6-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn6 {
  background-image: url(../images/icons/ztrade_lp_icon-6-yellow.svg);
}
.conditionbox_icon.icn7 {
  background-image: url(../images/icons/ztrade_lp_icon-7-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn7 {
  background-image: url(../images/icons/ztrade_lp_icon-7-yellow.svg);
}
.conditionbox_icon.icn8 {
  background-image: url(../images/icons/ztrade_lp_icon-8-blue.svg);
}
.conditionbox:hover .conditionbox_icon.icn8 {
  background-image: url(../images/icons/ztrade_lp_icon-8-yellow.svg);
}

.pagetitle {
  font-size: 35px;
  line-height: 40px;
  font-weight: 800;
  margin: 0 0 36px;
  text-align: center;
}
.pagetitle span {
  color: #008eca;
  display: block;
}

/* rent */
.rent {
  background: url(../images/bg-phone.jpg) center 0 no-repeat;
  background-size: cover;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 48px 0 58px 58px;
  margin: 0 0 90px;
  color: #fff;
  position: relative;
}
.rent .pagetitle {
  color: #fff;
  text-align: left;
  margin: 0 0 28px;
}
.rent .pagetitle span {
  color: #ffb200;
}
.rent .pagetitle2 {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 34px;
}
.rent_row {
  margin-right: 426px;
}
.rent .row {
  margin: 0 0 0 -1px;
}
.rent [class*='grid-'] {
  padding: 0 0 0 1px;
}
.rent_step {
  background: #008eca;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 10px;
  font-size: 13px;
  line-height: 18px;
}
.rent_step .btn {
  background: #366a94;
  display: block;
  width: 100%;
}
.rent_step .btn:hover {
  background: #ffb200;
  color: #000;
}
.rent_step_text {
  padding: 16px 16px 0;
  margin: 0 0 30px;
  width: 100%;
}
.rent_step p:last-child {
  margin: 0;
}
.rent_step_num {
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  margin: 0 0 18px;
}
.rent_step_name {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 18px;
}
.rent_phone {
  position: absolute;
  right: 0;
  bottom: 0;
}
.rent_phone.mob {
  display: none;
}

/* bottom_description */
.bottom_description {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.bottom_description_logos {
  min-width: 180px;
  max-width: 180px;
  margin-right: 20px;
  color: #becbd6;
  font-size: 13px;
  line-break: 18px;
}
.bottom_description_logos img {
  opacity: 0.3;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  display: block;
  margin: 0 0 30px;
  filter: grayscale(1);
}
.bottom_description_logos img:last-child {
  margin: 0;
}
.bottom_description_logos img:hover {
  opacity: 1;
  filter: grayscale(0);
}
.bottom_description_entry {
  border: 1px solid #d7e7f4;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 36px 42px;
  color: #325862;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
}
.bottom_description_entry .showlink {
  display: none;
  margin: 10px 0 0;
}
.bottom_description_entry .showlink a {
  text-decoration: none;
}
.bottom_description_entry .showlink a:hover {
  text-decoration: underline;
}
.bottom_description_entry .short_text {
  transition: height 200ms linear;
  overflow: hidden;
}
.bottom_description_brands {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.bottom_description_brands img {
  opacity: 0.3;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  display: block;
  height: 22px;
  filter: grayscale(1);
}
.bottom_description_brands img:last-child {
  margin: 0;
}
.bottom_description_brands img:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* footer */
.footer {
  padding: 48px 0;
}

/* modal */
.fancybox-content {
  background: 0;
  padding: 0;
}

.modal {
  max-width: 1200px;
  width: 100%;
  padding-top: 42px;
  position: relative;
  display: none;
}
.modal_close {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/svg/close.svg) no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
}
.modal_inner {
  background: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  padding: 50px;
  position: relative;
}
.modal_inner a {
  text-decoration: none;
}
.modal_inner a:hover {
  text-decoration: underline;
}
.modal_title {
  font-size: 35px;
  font-weight: 800;
  line-height: 39px;
  margin: 0 0 54px;
}
.modal_title span {
  color: #008eca;
}
.modal_text {
  max-width: 700px;
  margin: 0 auto 35px;
}
.modal_text:last-child, .modal_text p:last-child {
  margin-bottom: 0;
}
.modal_text.bottom {
  text-align: left;
  max-width: none;
  margin: 0 420px 0 0;
  font-size: 13px;
  line-height: 17px;
}
.modal_quote {
  border: 2px solid #ffb200;
  margin: 50px auto;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding: 50px 24px;
  max-width: 590px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#modal1 .modal_inner {
  padding: 50px 190px;
}
#modal1 .modal_inner::before, #modal1 .modal_inner::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 238px;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url(../images/robot2.png) 0 bottom no-repeat;
  background-size: 238px;
}
#modal1 .modal_inner::after {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  left: auto;
  right: 0;
}

#modal2 .modal_inner {
  background: #fff url(../images/robot-hand.png) 0 bottom no-repeat;
  padding-bottom: 145px;
}

#modal3 .modal_inner {
  background: #fff url(../images/robot3.jpg) right bottom no-repeat;
}

#modal3 .modalform {
  margin-bottom: 10px;
}

/* modalform */
.modalform {
  background: #f1f6fa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 30px;
  margin: 40px 0;
}

/* border_text */
.border_text {
  text-align: left;
  margin-bottom: 40px;
}
.border_text_box {
  background-color: #fff;
  border: 1px solid #d7e7f4;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 34px 40px;
  min-height: 100%;
  color: #325862;
  font-size: 13px;
  line-height: 17px;
  display: block;
}
.border_text_box.link_tme {
  background-color: 0 !important;
  font-size: 12px;
  line-height: 16px;
  color: #008eca;
  text-align: center;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border_text_box.link_tme span::before {
  content: '';
  display: block;
  background: url(../images/svg/telegram.svg) no-repeat;
  width: 37px;
  height: 31px;
  background-size: cover;
  margin: 0 auto 20px;
}
